<div class="container-fluid px-0 d-flex">
    <div class="container mb-4 col-md-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content m-b-sm border-bottom d-flex">
                        <div class="p-xs col-md-8 px-0">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-globe text-blue mid-icon"></i>
                            </div>
                            <h2>Welcome to our forum</h2>
                            <span>Feel free to choose topic you're interested in.</span>
                        </div>
                        <div class="d-flex justify-content-end h-100 col-md-4 px-0">
                            <div class="searchbar">
                                <input class="search_input" type="text" name="" placeholder="Search...">
                                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="bc-icons-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                                <li class="breadcrumb-item"><a class="text-muted" href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                                <li class="breadcrumb-item pt-2">
                                    <a class="" href="#">
                                        <span class="text-muted">Review</span>
                                    </a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                                <li class="breadcrumb-item pt-2"><a class="text-muted" href="#">Căn hộ</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                                <li class="breadcrumb-item pt-2 active">TP HỒ CHÍ MINH</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="ibox-content forum-container">

                        <!-- Thảo luận -->

                        <div class="forum-title background-blue rounded">
                            <div class="pull-right forum-desc text-dark px-2 pt-3">
                                <small>Total posts: 20,800</small>
                            </div>
                            <h3 class="p-2 strong">Thảo luận</h3>
                        </div>

                        <div class="forum-item active">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bullhorn"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Thông báo <sup><button type="button" class="btn btn-warning btn-sm px-1 py-0"><strong>New</strong></button></sup></a>
                                    <div class="forum-sub-title">Những thông báo quan trọng từ ban quản lý trang, danh sách các tài khoản bị cấm chat, block.</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                1216
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                368
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                140
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bolt"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Tin tức - Thời sự - Bản tin <sup><button type="button" class="btn btn-warning btn-sm px-1 py-0"><strong>New</strong></button></sup></a>
                                    <div class="forum-sub-title">Các tin tức mới nhất về thị trường BĐS và các yếu tố liên quan </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                890
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                120
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                154
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item active">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                    <a [routerLink]="[ '/listreview']" class="forum-item-title">Ý kiến - Hỏi đáp - Thảo luận <sup><button type="button" class="btn btn-warning btn-sm px-1 py-0"><strong>New</strong></button></sup></a>
                                    <div class="forum-sub-title">Nơi mọi người đưa ra các ý kiến, câu hỏi, thảo luận về các vấn đề BĐS, các bài review về nơi bạn đang sống </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                680
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                124
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                61
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Liên hệ <sup><button type="button" class="btn btn-warning btn-sm px-1 py-0"><strong>New</strong></button></sup></a>
                                    <div class="forum-sub-title">Thông tin liên hệ ban quản trị, các chủ đầu tư dự án BĐS </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                1450
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                652
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                572
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Lưu trữ -->

                        <div class="forum-title background-blue rounded">
                            <div class="pull-right forum-desc text-dark px-2 pt-3">
                                <small>Total posts: 20,800</small>
                            </div>
                            <h3 class="p-2 strong">Lưu trữ</h3>
                        </div>

                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-newspaper-o"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Bài đăng <sup><button type="button" class="btn btn-danger btn-sm px-1 py-0"><strong>Hot</strong></button></sup></a>
                                    <div class="forum-sub-title">Những bài viết có lượt tương tác cao về những chủ đề nóng trong lĩnh vực BĐS</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                1516
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                238
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                180
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Thư viện hình ảnh</a>
                                    <div class="forum-sub-title"> Nơi lưu trữ những hình ảnh về nhà, thiết kế nội ngoại thất đẹp </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                1766
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                321
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                42
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Bảng xếp hạng</a>
                                    <div class="forum-sub-title">Nơi những người có đóng góp to lớn cho cộng đồng này được vinh danh</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                765
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                90
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                11
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-ambulance"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Dịch vụ</a>
                                    <div class="forum-sub-title">Dịch vụ thiết kế nội, ngoại thất, dịch vụ chuyển nhà của các đối tác liên quan</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                2550
                            </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                122
                            </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                92
                            </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Khu vực -->

                        <div class="forum-title background-blue rounded">
                            <div class="pull-right forum-desc text-dark px-2 pt-3">
                                <small>Total posts: 20,800</small>
                            </div>
                            <h3 class="p-2 strong">Khu vực</h3>
                        </div>

                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Khu vưc Hà Nội <sup><button type="button" class="btn btn-danger btn-sm px-1 py-0"><strong>Hot</strong></button></sup></a>
                                    <div class="forum-sub-title">Những câu hỏi, review về BĐS tại thủ đô Hà Nội</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    1516
                                </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    238
                                </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    180
                                </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Khu vực TP Đà Nẵng</a>
                                    <div class="forum-sub-title"> Những câu hỏi, review về BĐS tại TP Đà Nẵng </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    1766
                                </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    321
                                </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    42
                                </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Khu vực TP Hồ Chí Minh</a>
                                    <div class="forum-sub-title">Những câu hỏi, review về BĐS tại TP Hồ Chí Minh </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    765
                                </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    90
                                </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    11
                                </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <a href="#" class="forum-item-title">Khu vực khác</a>
                                    <div class="forum-sub-title">Những câu hỏi, review về BĐS ở các khu vực khác</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    2550
                                </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    122
                                </span>
                                    <div>
                                        <small>Topics</small>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                    92
                                </span>
                                    <div>
                                        <small>Posts</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>