<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<div class="page-wrap">
    <app-header class="sticky-top d-block"></app-header>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <div *ngIf="showLoadingIndicator" class="lds-ripple card-img-overlay">
        <div></div>
        <div></div>
    </div>
    <main class="content">
        <!-- <div  class="lds-hourglass"></div> -->
        <router-outlet>
        </router-outlet>
        <app-go-to-top></app-go-to-top>
    </main>
    <div class="fb-customerchat" page_id="2484684445152961" Referrer-Policy="no-referrer"></div>
    <app-footer></app-footer>
</div>