<div class="container gallery-container">

    <h1>Thư viện hình ảnh</h1>

    <p class="page-description text-center">Tổng hợp ảnh đẹp năm 2019</p>

    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../../../../content/img/Phap_dinhcong.jpg" data-caption="1">
                    <img src="../../../../content/img/Phap_dinhcong.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../../../../content/img/pho-thuong-mai-hong-phat.jpg" data-caption="1">
                    <img src="../../../../content/img/pho-thuong-mai-hong-phat.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../../../../content/img/pho-thuong-mai-hong-phat.jpg" data-caption="1">
                    <img src="../../../../content/img/pho-thuong-mai-hong-phat.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../../../../content/img/pho-thuong-mai-hong-phat.jpg" data-caption="1">
                    <img src="../../../../content/img/pho-thuong-mai-hong-phat.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox">
                    <img src="" alt="Rails">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox">
                    <img src="" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox">
                    <img src="" alt="Rocks">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="">
                    <img src="" alt="Benches">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox">
                    <img src="" alt="Sky">
                </a>
            </div>
        </div>

    </div>

</div>

<script>
    baguetteBox.run('.tz-gallery', {
        buttons: 'auto',
        captions: true,
        noScrollbars: false,
        preload: 2,
        async: false,
        animation: 'slideIn',
        verlayBackgroundColor: 'rgba(0,0,0,.8)',

    });
</script>