<div class="container gallery-container">

    <h1>Thư viện hình ảnh</h1>

    <p class="page-description text-center">Tổng hợp ảnh đẹp năm 2019</p>

    <div class="tz-gallery">

        <div class="row">
            <div *ngFor="let item of listImage | paginate: config" class="col-sm-6 col-md-4">
                <a class="lightbox">
                    <img src="{{imageUrl}}{{item}}" alt="Park">
                </a>
            </div>
        </div>

    </div>
    <nav *ngIf="countImg !== 0" aria-label="" class="mt-2">
        <ul class="pagination pg-blue justify-content-end">
            <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" (pageChange)="pageChanged($event)"></pagination-controls>
        </ul>
    </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>