.card-img-list {
    padding: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    max-height: 210px;
    background-attachment: fixed;
}


/*Search*/

.search {
    background-color: #428bca;
}

a {
    text-decoration: none;
    &.visited {
        color: gray;
    }
    &.hover {
        color: rgb(100, 192, 192);
    }
}

.right-side {
    background-color: #fff;
    min-height: 150px;
}

.content {
    min-height: 700px;
}

.img {
    height: 25px;
    width: 25px;
    max-width: 32px;
    min-width: 16px;
    max-height: 32px;
    min-height: 16px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.input-group-append {
    a:hover {
        background-color: cadetblue;
    }
    a:active {
        background-color: #0a3b76;
        color: whitesmoke;
    }
}

.select {
    min-width: 200px;
    float: left;
}

.select1 {
    min-width: 120px;
}

.select2 {
    min-width: 120px;
}

option {
    border-radius: 5px;
    height: 20px;
}


/*Sort description*/

.giveMeEllipsisList {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.4em;
    /* fallback */
    max-height: 3em;
    min-height: 2.6em;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.giveMeEllipsis {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5em;
    /* fallback */
    max-height: 3.8em;
    min-height: 3.6em;
    /* fallback */
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.giveMeEllipsisTitle {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5em;
    /* fallback */
    max-height: 3.3em;
    min-height: 2.4em;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


/*Breadcrumb*/

.bc-icons-2 .breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.bc-icons-2 .breadcrumb-item.active {
    color: #428bca;
}

.breadcrumb {
    background-color: inherit;
}

a {
    text-decoration: none;
    &.visited {
        color: gray;
    }
    &.hover {
        color: rgb(100, 192, 192);
    }
}

.right-side {
    background-color: #fff;
    min-height: 150px;
}

.content {
    min-height: 700px;
}

.img {
    height: 25px;
    width: 25px;
    max-width: 32px;
    min-width: 16px;
    max-height: 32px;
    min-height: 16px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}


/* FLOAT */

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-float {
    animation: float 2s linear infinite;
}

.faa-float.animated.faa-fast,
.faa-float.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover>.faa-float.faa-fast {
    animation: float 1s linear infinite;
}

.faa-float.animated.faa-slow,
.faa-float.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover>.faa-float.faa-slow {
    animation: float 3s linear infinite;
}


/* Profile modal */

*:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

section {
    float: left;
    width: 100%;
    background: #fff;
    /* fallback for old browsers */
    padding: 20px 0;
}

.profile-card-5 {
    margin-top: 20px;
}

.profile-card-5 .btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px;
}

.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.profile-card-5 .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    height: 25vh;
}

.profile-card-5 .card-img-block img:hover {
    transform: scale(1.15);
    position: relative;
    z-index: 99;
}

.profile-card-5 h5 {
    color: #0a3b76;
    font-weight: 600;
}

.profile-card-5 p {
    font-size: 14px;
    font-weight: 300;
}

.profile-card-5 .btn-primary {
    background-color: #0a3b76;
    border-color: #0a3b76;
}