<div class="container">
    <div class="row my-3">
        <div class="col-12 text-left pt-3">
            <h3 class="font-weight-bold strong">Thư viện pháp luật</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Quy trình mua bán - Chuyển nhượng nhà đất</h5>
                        </div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <img src="https://static.homedy.com/src/images/library-law/desktop/mua-ban.png">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="news-content d-flex justify-content-center">
                                            <p>Phương thức cho thuê nhà theo quy định của pháp luật</p>
                                        </div>
                                        <div class="news-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-outline-info" [routerLink]="[ '/lawsell']">Xem chi tiết</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Quy trình cho thuê</h5>
                        </div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <img src="https://static.homedy.com/src/images/library-law/desktop/cho-thue.png">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="news-content d-flex justify-content-center">
                                            <p>6 bước để hoàn tất thủ tục mua bán - chuyển nhượng nhà đất</p>
                                        </div>
                                        <div class="news-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-outline-info" [routerLink]="[ '/lawrent']">Xem chi tiết</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Câu hỏi thường gặp</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="news-content d-flex justify-content-left">
                                            <div class="panel-group" id="accordion1">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1"><i class="fas fa-question-circle"></i>Sổ hồng và sổ đỏ khác nhau như thế nào?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_1" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Sổ hồng và sổ đỏ chỉ là cách gọi mà người dân tự đặt để tiện phân biệt giữa các loại giấy chứng nhậno</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Sổ đỏ là mẫu do Bộ Tài nguyên và Môi trường ban hành, bìa có màu đỏ, với nội dung ghi nhận quyền sử dụng đất (có thể là đất ở, đất sản xuất nông nghiệp,
                                                                    vườn, ao, đất rừng…) nên mẫu này có tên gọi đúng là “Giấy chứng nhận quyền sử dụng đất”.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Sổ hồng là mẫu do Bộ Xây dựng ban hành, bìa có màu hồng với nội dung là ghi nhận quyền sở hữu nhà ở và quyền sử dụng đất ở nên mẫu có tên gọi là “Giấy chứng
                                                                    nhận quyền sở hữu nhà ở và quyền sử dụng đất ở”.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Tuy nhiên, để thống nhất thành một loại Giấy chứng nhận, ngày 19/10/2009 Chính phủ ban hành Nghị định số 88/2009/NĐ-CP và ngày 21/10/2009 Bộ Tài nguyên và
                                                                    Môi trường ban hành Thông tư số 17/2009/TT-BTNMT về cấp Giấy chứng nhận quyền sử dụng đất, quyền sở hữu nhà ở và tài sản khác gắn liền với đất. Theo đó, hai loại Giấy chứng nhận nói trên
                                                                    sẽ do Bộ Tài nguyên và Môi trường phát hành theo một mẫu thống nhất và được áp dụng trong phạm vi cả nước đối với mọi loại đất, nhà ở và tài sản khác gắn liền với đất.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Hiện nay vẫn đang lưu hành cả 3 loại giấy tờ là Giấy chứng nhận quyền sử dụng đất, Giấy chứng nhận quyền sở hữu nhà ở và Giấy chứng quyền sử dụng đất, quyền
                                                                    sở hữu nhà ở và tài sản khác gắn liền với đất. Cả 3 đều có giá trị pháp lý như nhau.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2"><i class="fas fa-question-circle"></i>Bên nào sẽ chịu trách nhiệm sang tên sổ đỏ khi mua bán?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Các bên sẽ tiến hành thỏa thuận để 1 bên thực hiện nộp hồ sơ đề nghị cơ quan nhà nước có thẩm quyền cấp giấy chứng nhận đối với nhà ở đó.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Nếu như trong trường hợp mua hay thuê mua nhà ở của chủ đầu tư dự án bất động sản nào đó thì chủ đầu tư sẽ có trách nhiệm làm thủ tục để cơ quan nhà nước
                                                                    có thẩm quyền cấp giấy chứng nhận quyền sử dụng đất cho bên mua. Trừ trường hợp bên mua tự nguyện làm thủ tục cấp giấy chứng nhận quyền sử dụng đất thì chủ đầu tư không cần phải thực
                                                                    hiện.
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3"><i class="fas fa-question-circle"></i>Nếu chưa hoàn tất thủ tục sang tên thì có được cấp sổ đỏ cho bên mua?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_3" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Theo như nghị định 01/2017/NĐ-CP có hiệu lực từ ngày 03/03/2017 thì trường hợp đã chuyển quyền sử dụng đất nhưng chưa sang tên thì vẫn sẽ được cấp sổ đỏ,
                                                                    quyền sở hữu nhà ở và tài sản cho chủ mới.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4"><i class="fas fa-question-circle"></i>Nếu mua bán nhà bằng giấy viết tay thì có được cấp sổ đỏ không?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_4" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Theo như nghị định 01/2017/NĐ-CP có hiệu lực từ ngày 03/03/2017 thì việc mua bán nhà đất bằng giấy viết tay trước ngày 01/07/2014 thì sẽ được cấp sổ đỏ.
                                                                    Cụ thể:</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Người dân đang sử dụng đất mà miếng đất và tài sản gắn liền với đất do chuyển nhượng, nhận, tặng trong thời gian từ 1.1.2008 đến trước 1.7.2014 nếu đã có
                                                                    giấy tờ về quyền sử dụng đất thì sẽ được cấp sổ đỏ, quyền sở hữu nhà ở, tài sản gắn liền với đất lần đầu mà không cần phải thực hiện thủ tục chuyển quyền sử dụng đất.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Nếu như người dân đang sử dụng đất do nhận được chuyển nhượng, nhận tặng cho từ trước thời gian ngày 1.1.2008 đến trước ngày 1.7.2008 nếu không có giấy tờ
                                                                    chứng nhận về quyền sử dụng đất cũng sẽ được cấp giấy chứng nhận quyền sử dụng đất. Họ cũng sẽ không bị buộc phải làm thủ tục chuyển quyền sử dụng đất, các cơ quan tiếp nhận hồ sơ cũng
                                                                    sẽ không được bắt buộc những người đó phải nộp các hợp đồng hay văn bản chuyển quyền sử dụng đất.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5"><i class="fas fa-question-circle"></i>Thủ tục chuyển nhượng, mua bán nhà đất?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_5" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Việc mua bán nhà đất phải được lập thành hợp đồng có công chứng. Lập xong hợp đồng mua bán nhà, hai bên làm thủ tục sang tên trước bạ và đóng thuế.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Xem thủ tục mua bán nhà đất cụ thể hơn ở trên.
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6"><i class="fas fa-question-circle"></i>Các loại thuế phải đóng khi chuyển nhượng nhà đất?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_6" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Lệ phí trước bạ</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Theo quy định tại khoản 1 Điều 2 Nghị định 45/2011/NĐ-CP ngày 17/6/2011 đất là một trong các đối tượng chịu lệ phí trước bạ. Lệ phí trước bạ được tính như
                                                                    sau:
                                                                </li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Lệ phí trước bạ = 0.5% x Giá tính lệ phí trước bạ (giá do Ủy ban nhân dân tỉnh, thành phố trực thuộc Trung ương ban hành).</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thuế thu nhập cá nhân</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Căn cứ vào công văn số 17526/BTC-TCT về Triển khai thực hiện một số nội dung tại Luật sửa đổi, bổ sung một số điều của các Luật về thuế. Từ 01/01/2015, áp
                                                                    dụng một mức thuế suất 2% trên giá chuyển nhượng từng lần đối với chuyển nhượng bất động sản thay cho thực hiện 02 phương pháp tính thuế trước đây”.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thuế thu nhập cá nhân = 2% x (Giá chuyển nhượng)</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Ngoài ra, theo Luật thuế thu nhập cá nhân 2007: “Thu nhập từ chuyển nhượng nhà ở, quyền sử dụng đất ở và tài sản gắn liền với đất ở của cá nhân trong trường
                                                                    hợp cá nhân chỉ có một nhà ở, đất ở duy nhất” sẽ được miễn thuế.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Phí khác</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Lệ phí địa chính: 15.000 đồng</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Lệ phí thẩm định: 0.15% giá trị chuyển nhượng (tối thiểu 100.000 đồng và tối đa 5.000.000 đồng).</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Lệ phí công chứng: Mức thu lệ phí chứng thực hợp đồng, giao dịch liên quan đến bất động sản được xác định theo giá trị tài sản hoặc giá trị hợp đồng, giao
                                                                    dịch được quy định chi tiết tại Khoản 1 Điều 3 Thông tư liên tịch 62/2013/TTLT-BTC-BTP</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_7"><i class="fas fa-question-circle"></i>Hợp đồng thuê nhà có cần công chứng?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_7" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Khoản 2, Điều 122, Luật Nhà ở năm 2014 (có hiệu lực từ ngày 01/07/2015) quy định về công chứng, chứng thực hợp đồng về nhà ở lại quy định đối với trường
                                                                    hợp cho thuê, cho mượn, cho ở nhờ, ủy quyền quản lý nhà ở thì không bắt buộc phải công chứng, chứng thực hợp đồng, trừ trường hợp các bên có nhu cầu.</li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_8"><i class="fas fa-question-circle"></i>Hợp đồng thuê nhà có những mục nào?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_8" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Nếu 2 bên (thuê và cho thuê) ra văn phòng công chứng, hợp đồng sẽ được công chứng viên soạn theo đúng quy định pháp luật. Bên mua và bên bán có thể thỏa
                                                                    thuận trước các điều khoản phụ và báo lại cho công chứng viên để bổ sung vào hợp đồng cho thuê
                                                                </li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Nếu 2 bên (thuê và cho thuê) tự làm hợp đồng thì hợp đồng nên có những mục sau:</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thông tin cá nhân</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thông tin chi tiết về nhà</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Giá cho thuê (thời điểm đóng tiền hàng tháng/năm)</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thời hạn giao nhận nhà</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Đặt cọc và phương thức thanh toán</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Quyền và nghĩa vụ của bên thuê</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Các trường hợp chấm dứt, hủy bỏ hợp đồng và biện pháp xử lý</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Cam kết của 2 bên</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thời điểm có hiệu lực</li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_9"><i class="fas fa-question-circle"></i>Nhà riêng, căn hộ phải thỏa mãn điều kiện nào để cho thuê?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_9" class="panel-collapse collapse">
                                                        <div class="panel-body">

                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Không thuộc diện đang có tranh chấp, khiếu nại, khiếu kiện về quyền sở hữu; đang trong thời hạn sở hữu nhà ở đối với trường hợp sở nhữ nhà ở có thời hạn
                                                                </li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Không bị kê biên để thi hành án hoặc ko bị kê biên để chấp hành quyết định hành chính đã có hiệu lực pháp luật của cơ quan nhà nước có thẩm quyền
                                                                </li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Không thuộc diện đã có quyết định thu hồi đất, có thông báo giải tỏa, phá dỡ nhà ở của cơ quan có thẩm quyền</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_10"><i class="fas fa-question-circle"></i>Nhà riêng, căn hộ phải thỏa mãn điều kiện nào để cho thuê?</a>
                                                        </h5>
                                                    </div>
                                                    <div id="accordion1_10" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i> Theo quy định của pháp luật, cá nhân, hộ gia đình khi cho thuê nhà sẽ phải nộp lệ phí môn bài, thuế giá trị gia tăng và thuế thu nhập cá nhân. Tuy nhiên
                                                                    cá nhân có hoạt động cho thuê tài sản nói chung và cho thuê nhà nói riêng không phải nộp thuế và lệ phí môn bài đối với hoạt động cho thuê nhà khi có mức doanh thu dưới 100 triệu đồng/năm.</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thuế giá trị gia tăng (GTGT) = Doanh thu tính thuế GTGT * 5% (tỷ lệ thuế GTGT)</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Thuế thu nhập cá nhân (TNCN) = Doanh thu tính thuế TNCN * 5% (tỷ lệ thuế TNCN)</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>Lệ phí môn bài đối với cá nhân, hộ gia đình hoạt động sản xuất, kinh doanh hàng hóa, dịch vụ như sau</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>1,000,000 VND/năm cho cá nhân, hộ gia đình có doanh thu > 500 triệu VND/năm</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>500,000 VND/năm cho cá nhân, hộ gia đình có doanh thu từ 300 - 500 triệu VND/năm</li>
                                                                <li class="list-group-item"><i class="fas fa-dot-circle"></i>300,000 VND/năm cho cá nhân, hộ gia đình có doanh thu từ 100 - 300 triệu VND/năm</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Văn bản luật quy định về BĐS</h5>
                        </div>
                        <div class="card-body">
                            <div class="row col-md-12">
                                <h5 style="font-weight: bold">Quy định chung</h5>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" href="https://thuvienphapluat.vn/van-ban/Bat-dong-san/Luat-Nha-o-2014-259721.aspx" target="_blank" rel="nofollow" title="Luật nhà ở 2014 (65/2014/QH13)">Luật nhà ở 2014 (65/2014/QH13)</a>

                                </h6>
                            </div>
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul>
                                        <li>
                                            <a href="https://www.tracuuphapluat.info/2016/05/nghi-dinh-99-2015-huong-dan-luat-nha-o.html" rel="nofollow" target="_blank" title="Hướng dẫn luật nhà ở 99/2015/NĐ-CP" class="txt-text">Hướng dẫn luật nhà ở 99/2015/NĐ-CP</a>

                                        </li>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;mode=detail&amp;document_id=196627" target="_blank" rel="nofollow" class="txt-text" title="Nghị định 30/2019/NĐ-CP sửa đổi Nghị định 99/2015/NĐ-CP hướng dẫn luật nhà ở">Nghị định 30/2019/NĐ-CP sửa đổi Nghị định 99/2015/NĐ-CP hướng dẫn luật nhà ở</a>

                                        </li>
                                        <li>
                                            <a href="https://www.tracuuphapluat.info/2016/09/thong-tu-19-2016-bxd-huong-dan-luat-nha-o.html" target="_blank" rel="nofollow" class="txt-text" title="Thông tư 19/2016/TT-BXD hướng dẫn thực hiện Luật Nhà ở">Thông tư 19/2016/TT-BXD hướng dẫn thực hiện Luật Nhà ở</a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://thuvienphapluat.vn/van-ban/Bat-dong-san/Luat-dat-dai-2013-215836.aspx" target="_blank" rel="nofollow" title="Luật đất đai 2013 (45/2013/QH13)">Luật đất đai 2013 (45/2013/QH13)</a>

                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://thuvienphapluat.vn/van-ban/Thuong-mai/Luat-Kinh-doanh-bat-dong-san-2014-259722.aspx" target="_blank" rel="nofollow" title="Luật kinh doanh BĐS 2014 (66/2014/QH13)">Luật kinh doanh BĐS 2014 (66/2014/QH13)</a>
                                </h6>
                            </div>
                            <hr>
                            <div class="row col-md-12">
                                <h5 style="font-weight: bold">Các quy định, bộ luật khác</h5>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" title="Luật thuế thu nhập các nhân 2007 (04/2007/QH12)" rel="nofollow" target="_blank" href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=51258">Luật thuế thu nhập các nhân 2007 (04/2007/QH12)</a>
                                </h6>
                            </div>
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?_page=1&amp;class_id=1&amp;document_id=164952&amp;mode=detail" target="_blank" rel="nofollow" title="Luật thuế cá nhân sửa đổi 2012 (26/2012/QH13)" class="txt-text ">Luật thuế cá nhân sửa đổi 2012 (26/2012/QH13)</a>
                                        </li>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=178140" target="_blank" rel="nofollow" class="txt-text " title="Luật thuế cá nhân sửa đổi 2014 (71/2014/QH13)">Luật thuế cá nhân sửa đổi 2014 (71/2014/QH13)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;mode=detail&amp;document_id=96038" target="_blank" rel="nofollow" title="Luật thuế sử dụng đất phi nông nghiệp 2012 (48/2010/QH12)">Luật thuế sử dụng đất phi nông nghiệp 2012 (48/2010/QH12)</a>
                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://www.tracuuphapluat.info/2016/05/nghi-dinh-100-2015-phat-trien-nha-o-xa-hoi.html" target="_blank" rel="nofollow" title="Nghị định 100/2015/NĐ-CP về phát triển và quản lý nhà ở xã hội">Nghị định 100/2015/NĐ-CP về phát triển và quản lý nhà ở xã hội</a>
                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://www.tracuuphapluat.info/2011/04/toan-van-quyet-inh-2127q-ttg-phe-duyet.html" target="_blank" rel="nofollow" title="Chiến lược phát triển nhà ở quốc gia đến năm 2020 và tầm nhìn đến năm 2030 (2127/QĐ-TTG)">Chiến lược phát triển nhà ở quốc gia đến năm 2020 và tầm nhìn đến năm 2030 (2127/QĐ-TTG)</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Mẫu hợp đồng</h5>
                        </div>
                        <div class="card-body">
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul style="list-style-type:none;">
                                        <li>
                                            <a href="/content/document/HD-mua-ban-can-ho-nha-chung-cu.doc" class="txt-text" title="Hợp đồng mua bán căn hộ, nhà chung cư">
                                                    Hợp đồng mua bán căn hộ, nhà chung cư
                                                    <i id="idown" class="fas fa-download"></i>
                                                    </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/HD-mua-ban-tai-san-GLVD.doc" class="txt-text" title="Hợp đồng mua bán tài sản gắn liền với đất">
                                                    Hợp đồng mua bán tài sản gắn liền với đất
                                                    <i id="idown" class="fas fa-download"></i>
                                                </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/HD-chuyen-nhuong-QSDD.doc" class="txt-text" title="Hợp đồng chuyển nhượng quyền sử dụng đất">
                                                    Hợp đồng chuyển nhượng quyền sử dụng đất
                                                    <i id="idown" class="fas fa-download"></i>
                                                </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/HD-thue-can-ho-nha-chung-cu.doc" class="txt-text" title="Hợp đồng thuê căn hộ, nhà chung cư">Hợp đồng thuê căn hộ, nhà chung cư
                                                    <i id="idown" class="fas fa-download"></i>
                                                </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/HD-thue-QSDD-va-tai-san-GLVD.doc" class="txt-text" title="Hợp đồng thuê quyền sử dụng đất và tài sản gắn liền với đất">Hợp đồng thuê quyền sử dụng đất và tài sản gắn liền với đất
                                                    <i id="idown" class="fas fa-download"></i>
                                                </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/huong-dan/HD-uy-quyen.doc" class="txt-text" title="Hợp đồng ủy quyền">
                                                        Hợp đồng ủy quyền
                                                        <i id="idown" class="fas fa-download"></i>
                                                    </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/HD-thue-quyen-su-dung-dat.doc" class="txt-text" title="Hợp đồng thuê quyền sử dụng đất">Hợp đồng thuê quyền sử dụng đất
                                                    <i id="idown" class="fas fa-download"></i>
                                                    </a>
                                        </li>
                                        <li>
                                            <a href="/content/document/HD-thue-tai-san-GLVD.doc" class="txt-text" title="Hợp đồng thuê tài sản gắn liền với đất">
                                                        Hợp đồng thuê tài sản gắn liền với đất
                                                        <i id="idown" class="fas fa-download"></i>
                                                    </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>