<div class="container-fluid px-0 d-flex">
    <div class="container col-md-9">
        <div class="col-md-12 text-center font-weight-bold strong text-uppercase pb-4" style="font-size: 25px;">Đội ngũ phát triển</div>
        <div class="d-flex flex-row col-md-12 px-0 pt-2 bg-white rounded-top">
            <div class="offset-md-2 col-md-3 p-4">
                <div class="card">
                    <div class="box">
                        <div class="img">
                            <img src="../../../../content/img/don.jpg">
                        </div>
                        <h2>Ngô Văn Đôn<br><span>Web Developer</span></h2>
                        <p> Luôn luôn học hỏi để trở thành phiên bản tốt hơn của chính mình qua mỗi ngày.
                        </p>
                        <span>
              <ul>
                <li><a href="https://www.facebook.com/UchihaDonOzOn"><i class="fab fa-facebook"></i></a></li>
                <li><a><i class="fab fa-twitter"></i></a></li>
                <li><a><i class="fab fa-google-plus-square"></i></a></li>
                <li><a><i class="fab fa-linkedin"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
              </ul>
            </span>
                    </div>
                </div>
            </div>
            <div class="offset-md-2 col-md-3 p-4">
                <div class="card">
                    <div class="box">
                        <div class="img">
                            <img src="../../../../content/img/hieu.jpg">
                        </div>
                        <h2>Nguyễn Trọng Hiếu<br><span>Web Developer</span></h2>
                        <p> Luôn hướng về phía trước bởi con đường bạn phải đi luôn ở phía trước bạn.
                        </p>
                        <span>
              <ul>
                <li><a href="https://www.facebook.com/hieunguyen2693"><i class="fab fa-facebook"></i></a></li>
                <li><a><i class="fab fa-twitter"></i></a></li>
                <li><a><i class="fab fa-google-plus-square"></i></a></li>
                <li><a><i class="fab fa-linkedin"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
              </ul>
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row col-md-12 px-0 pb-2 bg-white rounded-bottom">
            <div class="offset-md-2 col-md-3 p-4">
                <div class="card">
                    <div class="box">
                        <div class="img">
                            <img src="../../../../content/img/my.jpg">
                        </div>
                        <h2>Vũ Giang My<br><span>Web Developer</span></h2>
                        <p> Cuộc sống này thực sự đơn giản, nhưng chúng ta luôn làm nó trở nên phức tạp.
                        </p>
                        <span>
              <ul>
                <li><a href="https://www.facebook.com/vu.giangmy.5"><i class="fab fa-facebook"></i></a></li>
                <li><a><i class="fab fa-twitter"></i></a></li>
                <li><a><i class="fab fa-google-plus-square"></i></a></li>
                <li><a><i class="fab fa-linkedin"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
              </ul>
            </span>
                    </div>
                </div>
            </div>
            <div class="offset-md-2 col-md-3 p-4">
                <div class="card">
                    <div class="box">
                        <div class="img">
                            <img src="../../../../content/img/nam.jpg">
                        </div>
                        <h2>Nguyễn Nhật Nam<br><span>Web Developer</span></h2>
                        <p> Cuộc sống vốn không công bằng, hãy tập quen dần với điều đó.
                        </p>
                        <span>
              <ul>
                <li><a href="https://www.facebook.com/nhat.namm.5"><i class="fab fa-facebook"></i></a></li>
                <li><a><i class="fab fa-twitter"></i></a></li>
                <li><a><i class="fab fa-google-plus-square"></i></a></li>
                <li><a><i class="fab fa-linkedin"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
              </ul>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>