<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bc-icons-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">BĐS</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Thứ viện pháp luật</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active">Quy trình mua bán - Chuyển nhượng nhà đất</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-left py-1">
            <h3>Quy trình mua bán - Chuyển nhượng nhà đất</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <img src="https://static.homedy.com/src/images/library-law/desktop/mua-ban.png">

                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="md-stepper-horizontal">
                                        <div class="md-step active">
                                            <div class="md-step-circle"><span>1</span></div>
                                            <div class="md-step-title">Thoả thuận</div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </div>
                                        <div class="md-step active">
                                            <div class="md-step-circle"><span>2</span></div>
                                            <div class="md-step-title">Hợp đồng đặt cọc</div>
                                            <div class="md-step-optional"></div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </div>
                                        <div class="md-step active">
                                            <div class="md-step-circle"><span>3</span></div>
                                            <div class="md-step-title">Thủ tục công chứng</div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </div>
                                        <div class="md-step active">
                                            <div class="md-step-circle"><span>4</span></div>
                                            <div class="md-step-title">Công chứng hợp đồng</div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </div>
                                        <div class="md-step active">
                                            <div class="md-step-circle"><span>5</span></div>
                                            <div class="md-step-title">Đăng kí giấy sử dụng đất</div>
                                            <div class="md-step-optional"></div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </div>
                                        <div class="md-step active">
                                            <div class="md-step-circle"><span>6</span></div>
                                            <div class="md-step-title">Nhận sổ đỏ</div>
                                            <div class="md-step-optional"></div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="news-content d-flex justify-content-left">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="news-content d-flex justify-content-left">
                                                        <div class="panel-group" id="accordion1">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h5 class="panel-title">
                                                                        <a (click)="changeType(1)" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1"><i [ngClass]="toggle1 ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>Bước 1 - Thỏa thuận trước khi làm hợp đồng chính thức ở cơ quan chức năng hoặc văn phòng công chứng</a>
                                                                    </h5>
                                                                </div>
                                                                <div id="accordion1_1" class="panel-collapse collapse in">
                                                                    <div class="panel-body">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận từng bước thanh toán: đặt cọc, thanh toán sau khi có hợp đồng, và thanh toán sau khi có giấy chứng nhận quyền sử dụng đất (sổ đỏ,
                                                                                sổ hồng)

                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận phương thức thanh toán: qua ngân hàng hoặc trực tiếp
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận về địa điểm công chứng (trong trường hợp chọn chứng thực hợp đồng ở văn phòng công chứng) (xem danh sách vp công chứng ở 3 thành phố
                                                                                lớn ở đây)
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận về trách nhiệm hỗ trợ thủ tục sang tên quyền sử dụng đất và tài sản gắn liền
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận về chi trả và đóng các loại thuế, phí phát sinh trong quá trình công chứng, chuyển nhượng quyền sử dụng đất và tài sản gắn liền

                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận về thời gian tiến hành các bước và thủ tục
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thỏa thuận về thời gian tiến hành các bước và thủ tục
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h5 class="panel-title">
                                                                        <a (click)="changeType(2)" class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2"><i [ngClass]="toggle2 ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>Bước 2 - Lập hợp đồng tiền đặt cọc</a>
                                                                    </h5>
                                                                </div>
                                                                <div id="accordion1_2" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Tiền đặt cọc có giá trị khoảng từ 5-10% tổng giá trị BĐS.
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Hợp đồng đặt cọc không bắt buộc phải công chứng. Tuy nhiên hợp đồng đặt cọc nên có bên thứ 3 (UBND phường xã) làm chứng.
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Trong hợp đồng nên nêu rõ:
                                                                                <p>–Thông tin cá nhân 2 bên (mua và bán)</p>
                                                                                <p>–Mục đích đặt cọc</p>
                                                                                <p>–Số tiền đặt cọc</p>
                                                                                <p>–Phương thức thanh toán tiền cọc</p>
                                                                                <p>–Phương thức giải quyết và cam kết của 2 bên (mua và bán)</p>
                                                                                <p>–Điều khoản khác</p>
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Bạn có thể tham khảo mẫu hợp đồng đặt cọc ở đây
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h5 class="panel-title">
                                                                        <a (click)="changeType(3)" class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3"><i [ngClass]="toggle3 ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>Bước 3 - Hai bên (mua và bán) chuẩn bị hồ sơ để làm thủ tục công chứng</a>
                                                                    </h5>
                                                                </div>
                                                                <div id="accordion1_3" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <ul class="list-group">

                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Bên mua:
                                                                                <p>–Giấy chứng nhận quyền sử dụng đất (sổ đỏ, sổ hồng)</p>
                                                                                <p>–CMND/căn cước công dân/hộ chiếu</p>
                                                                                <p>–Sổ hộ khẩu</p>
                                                                                <p>–Đăng ký kết hôn hoặc giấy xác định tình trạng hôn nhân (nếu còn độc thân)</p>
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Bên bán:
                                                                                <p>–CMND/căn cước công dân/hộ chiếuCMND/căn cước công dân/hộ chiếu</p>
                                                                                <p>–Sổ hộ khẩu</p>
                                                                                <p>–Đăng ký kết hôn hoặc giấy xác định tình trạng hôn nhân (nếu còn độc thân)</p>

                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h5 class="panel-title">
                                                                        <a (click)="changeType(4)" class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4"><i [ngClass]="toggle4 ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>Bước 4 - Công chứng hợp đồng mua bán</a>
                                                                    </h5>
                                                                </div>
                                                                <div id="accordion1_4" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Nộp giấy tờ hồ sơ cho công chứng viên</li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Công chứng viên kiểm tra giấy tờ, hồ sơ và soạn hợp đồng (30-45 phút)</li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i>2 bên (mua và bán) kiểm tra lại chi tiết hợp đồng: thông tin cá nhân, BĐS, các điều khoản</li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i>2 bên (mua và bán) ký + điểm chỉ vào bản hợp đồng</li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i>Công chứng viên kiểm tra chữ ký và vân tay 2 bên (mua và bán)</li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i>Công chứng viên ký và đóng dấu hợp đồng</li>

                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Văn phòng công chứng sẽ xuất 5 bản hợp đồng
                                                                                <p>–1 bản cho bên mua</p>
                                                                                <p>–1 bản cho bên bán</p>
                                                                                <p>–Sổ hộ khẩu</p>
                                                                                <p>–1 bản cho văn phòng công chứng</p>
                                                                                <p>–2 bản cho cơ quan thuế và đăng ký nhà đất</p>
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Sau khi có hợp đồng công chứng, bên mua trả cho bên bán 90-95% (kể cả tiền đặt cọc) mức tiền thỏa thuận. Lý do giữ lại 5-10% để khuyến khích
                                                                                bên bán hỗ trợ bên mua trong quá trình làm thủ tục sang tên quyền sử dụng BĐS.

                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h5 class="panel-title">
                                                                        <a (click)="changeType(5)" class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5"><i [ngClass]="toggle5 ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>Bước 5 - Bên mua thực hiện thủ tục kê khai, đăng ký giấy chứng nhận quyền sử dụng đất</a>
                                                                    </h5>
                                                                </div>
                                                                <div id="accordion1_5" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Trong quá trình này, bên bán có nghĩa vụ trợ giúp của bên mua tại văn phòng đăng ký đất đai của địa phương có BĐS.</li>

                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Các loại hồ sơ cần chuẩn bị (11 loại)
                                                                                <p>1. Giấy chứng nhận quyền sử dụng đất (sổ đỏ, sổ hồng): 1 bản chính + 2 bản sao y công chứng</p>
                                                                                <p>2. Hợp đồng mua bán, chuyển nhượng đã công chứng: 2 bản gốc</p>
                                                                                <p>3. CMND/căn cước công dân/hộ chiếu: mỗi bên (mua và bán) 2 bản sao y công chứng</p>
                                                                                <p>4. Sổ hộ khẩu 2 bên (mua và bán): mỗi bên 2 bản sao y công chứng</p>
                                                                                <p>5. Đăng ký kết hôn/giấy xác nhận tình trạng hôn nhân của 2 bên (mua và bán): mỗi bên 2 bản sao y công chứng</p>
                                                                                <p>6. Biên lai đóng thuế đất phi nông nghiệp/xác nhận đã đóng thuế (trong trường hợp BĐS thuộc loại phi nông nghiệp)</p>
                                                                                <p>7. Tờ khai thuế thu nhập cá nhân bên bán: 2 bản</p>
                                                                                <p>8. Tờ khai lệ phí trước bạ: 2 bản</p>
                                                                                <p>9. Đơn đăng ký biến động đất đai/tài sản gắn liền với đất: 1 bản chính</p>
                                                                                <p>10. Sơ đồ vị trí thửa đất</p>
                                                                                <p>11. Tờ khai xin cấp đổi phôi sổ đỏ mới</p>
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Thủ tục sang tên
                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Nộp giấy tờ hồ sơ cho bộ phận 1 cửa của văn phòng đăng ký đất đai ở địa phương có BĐS.

                                                                            </li>

                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Văn phòng đăng ký đất đai kiểm tra hồ sơ, tiếp nhận và chuyển hồ sơ cho cơ quan thuế để tính mức thuế phải đóng

                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Cơ quan thuế sau đó sẽ thông báo và hẹn khoảng thời gian phải đóng các loại thuế và phí

                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Sau khi đóng thuế, người mua quay lại văn phòng đăng ký đất đai để bổ sung giấy tờ và lấy giấy hẹn nhận giấy chứng nhận quyền sử dụng đất (sổ
                                                                                đỏ) mới.

                                                                            </li>
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i> Sau khi có giấy hẹn nhận giấy chứng nhận QSDĐ (sổ đỏ) mới, trách nhiệm và nghĩa vụ của người bán đã hoàn tất. Người mua sẽ trả nốt 5-10% số tiền
                                                                                còn lại.

                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h5 class="panel-title">
                                                                        <a (click)="changeType(6)" class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6"><i [ngClass]="toggle6 ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>Bước 6 - Nhận giấy chứng nhận quyền sử dụng đất (sổ đỏ) mới</a>
                                                                    </h5>
                                                                </div>
                                                                <div id="accordion1_6" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item"><i class="fas fa-dot-circle"></i>Đến ngày hẹn, người mua nộp lại giấy hẹn, đóng lệ phí sang tên (từ 100.000 - 300.000đ) và nhận giấy tờ mới.</li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                        <div class="news-footer d-flex justify-content-left">
                                            <div class="row">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="news-footer d-flex justify-content-left px-5">
                                        <p class="txt-note font-italic">Lưu ý: Các thông tin trên chỉ mang tính chất tham khảo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-see-more px-5">
                                        <h5>Xem thêm</h5>
                                        <ul style="list-style: none;">
                                            <li>
                                                <a class="text-more" [routerLink]="[ '/contractform' ]" title="Mẫu hợp đồng mua bán">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Mẫu hợp đồng mua bán</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-more" [routerLink]="[ '/lawrent' ]" title="Quy trình cho thuê">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Quy trình cho thuê</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-more" [routerLink]="[ '/law' ]" title="Câu hỏi thường gặp">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Câu hỏi thường gặp </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card" style="background-color: gray ; height: 130px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script>
</script>