<!-- Heading -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" #cdCf key="cf">
    <p-footer>
        <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Hủy" (click)="cdCf.reject()"></button>
        <button type="button" class="ui-button-primary" pButton icon="pi pi-check" label="Sửa" (click)="cdCf.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" #cdOn key="on">
    <p-footer>
        <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Hủy" (click)="cdOn.reject()"></button>
        <button type="button" class="ui-button-success" pButton icon="pi pi-check" label="Bật" (click)="cdOn.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" #cdOff key="off">
    <p-footer>
        <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Hủy" (click)="cdOff.reject()"></button>
        <button type="button" class="ui-button-warning" pButton icon="pi pi-check" label="Tắt" (click)="cdOff.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" #cd>
    <p-footer>
        <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Hủy" (click)="cd.reject()"></button>
        <button type="button" class="ui-button-primary" pButton icon="pi pi-check" label="Xóa" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<!-- Heading -->

<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-12 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body  p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row col-md-12 m-0 p-0 d-flex justify-content-center">

                                <p-table #guestCare [value]="guests" selectionMode="single" [lazy]="true" [(selection)]="selectedGuest" (onLazyLoad)="loadGuestLazy($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" (onRowSelect)="selectGuestRow($event)">
                                    <ng-template pTemplate="caption">
                                        <div style="text-align: right">
                                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width: 5%;">STT</th>
                                            <th pSortableColumn="name">
                                                Tên
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="createdBy">
                                                Tài khoản
                                                <p-sortIcon field="createdBy"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="createdDate">
                                                Ngày gửi
                                                <p-sortIcon field="createdDate"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="email">
                                                Email
                                                <p-sortIcon field="email"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="phone">
                                                Số điện thoại
                                                <p-sortIcon field="phone"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="productPost">
                                                Bài đăng
                                                <p-sortIcon field="productPost"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="mess">
                                                Lời nhắn
                                                <p-sortIcon field="mess"></p-sortIcon>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-guest let-rowIndex="rowIndex">
                                        <tr [pSelectableRow]="guest">
                                            <td>{{rowIndex + 1}}</td>
                                            <td>
                                                {{guest.name}}
                                            </td>
                                            <td>{{guest.createdBy}}</td>
                                            <td>{{guest.createdDate | date:'HH:mm dd/MM/yyyy'}}</td>
                                            <td>{{guest.email}}</td>
                                            <td>{{guest.phone}}</td>
                                            <td>{{guest.productPost?.productPostTitle}}</td>
                                            <td>{{guest.mess}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-warning" (click)="confirmOnOFF(guest)">Xóa</button>
                                            </td>
                                        </tr>

                                    </ng-template>
                                </p-table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--/.Card-->


    </div>


</div>
<!--Grid row-->
<script>
    $('.datepicker').pickadate();
</script>
