<div class="container mb-4 col-md-9 px-0">
    <div class="d-flex flex-row">
        <div class="col-md-12">
            <div class="d-flex flex-row mb-2">
                <div class="col-md-12 px-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-md-12">
                                    <div class="news-title">
                                        <h2>{{detailReview.title}}</h2>
                                    </div>
                                    <div class="news-cats">
                                        <ul class="list-unstyled list-inline mb-1">
                                            <li class="list-inline-item">
                                                <i class="fa fa-folder-open fa-lg text-warning"></i>
                                                <a href="#"><small>
                                                    <span *ngIf="!detailReview.type; else elseBlock">Đánh giá</span>
                                                    <ng-template #elseBlock>Câu hỏi</ng-template>
                                                </small> </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-folder-open fa-lg text-warning"></i>
                                                <a href="#"><small>{{detailReview.createdBy}}</small> </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-folder-open fa-lg text-warning"></i>
                                                <a href="#"><small>{{detailReview.createdDate | date:'HH:mm dd/MM/yyyy'}}</small></a>
                                            </li>

                                        </ul>
                                    </div>
                                    <br>
                                    <p>{{detailReview.decription}}</p>
                                    <hr>
                                    <div class="col-md-12">
                                        <img *ngIf="detailReview.imageUrl !== null" src="{{imageUrl}}{{detailReview.imageUrl}}" class="img-fluid rounded  mx-auto d-block py-4" alt="{{detailReview.title}}">
                                        <img *ngIf="detailReview.imageUrl === null" src="../../../../content/img/default-image.jpg" class="img-fluid rounded  mx-auto d-block py-4" alt="{{detailReview.title}}">
                                        <div class="d-flex flex-wrap px-0 text-justify">
                                            <div [innerHTML]="detailReview.content" class="news-content text-justify innerHtml">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="news-footer d-flex justify-content-start">
                                        <div class="news-likes">
                                            <button *ngIf="!liked && isAuthenticated()" type="button" class="btn btn-outline-primary btn-md" matTooltip="Thích" (click)="checkLike(detailReview.id)"><i class="fa fa-thumbs-o-up text-primary"></i> <span class="badge">Thích</span></button>
                                            <button *ngIf="liked && isAuthenticated()" type="button" class="btn btn-primary btn-md" matTooltip="Bỏ thích" (click)="checkLike(detailReview.id)"><i class="fa fa-thumbs-o-up text-white" ></i> <span class="badge">Thích</span></button>
                                            <!-- <button type="button" class="btn btn-outline-secondary"><i class="fas fa-share-alt"></i><span class="badge">Chia sẻ</span></button> -->
                                            <div id="buttonshare" class="fb-share-button btn btn-sm ml-4 pb-1" data-size="large" [attr.data-href]="currentUrl" data-layout="button_count"></div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="news-author">
                                        <div class="d-flex flex-row">
                                            <div class="col-md-auto">
                                                <a *ngIf="detailReview.user.imageUrl !== null" title="{{detailReview.user.firstName}} {{detailReview.user.lastName}}"><img src="{{imageUrl}}{{detailReview.user.imageUrl}}" class="rounded-circle" style="width:100px"></a>
                                                <a *ngIf="detailReview.user.imageUrl === null" title="{{detailReview.user.firstName}} {{detailReview.user.lastName}}"><img src="../../../../content/img/default-avar.png" class="rounded-circle" style="width:100px"></a>
                                            </div>
                                            <div class="col">
                                                <div class="auth-title">
                                                    <h4 class="author h4 text-primary font-weight-normal" title="{{detailReview.user.firstName}} {{detailReview.user.lastName}}">{{detailReview.user.firstName}} {{detailReview.user.lastName}}</h4>
                                                    <div class="bio">
                                                        Email: {{detailReview.user.email}}
                                                    </div>
                                                    <!-- <ul class="list-unstyled list-inline">
                                                        <li class="list-inline-item"><a target="_blank"><i class="fab fa-facebook"></i></a></li>
                                                        <li class="list-inline-item"><a target="_blank"><i class="fab fa-google-plus"></i></a></li>
                                                        <li class="list-inline-item"><a target="_blank"><i class="fa fa-globe"></i></a></li>
                                                        <li class="list-inline-item"><i class="fa fa-map-marker"></i> India</li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white ">
                        <div class="fb-comments border-top pt-4" [attr.data-href]="currentUrl" data-width="100%" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>