<!-- Heading -->
<div class="card mb-2 wow fadeIn">
    <div class="row mb-2">
        <div class="col-12 text-left pt-3">
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
            <p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" #cd>
                <p-footer>
                    <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Hủy"
                        (click)="cd.reject()"></button>
                    <button type="button" class="ui-button-primary" pButton icon="pi pi-check" label="Lưu lại"
                        (click)="cd.accept()"></button>
                </p-footer>
            </p-confirmDialog>
        </div>
    </div>
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between pt-0">

        <h6 class="mb-1 mb-sm-0 ">
            <a [routerLink]="['/admin']"  target="_blank">Quản lí chung</a>
            <span>/</span>
            <span>Quản lí bài đăng</span>
        </h6>

    </div>

</div>
<!-- Heading -->

<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-12 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body  p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row col-md-12 m-0 p-0 d-flex justify-content-center">
                                <p>Quản lí bài đăng work</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--/.Card-->


    </div>


</div>
<!--Grid row-->
<script>
    $('.datepicker').pickadate();
</script>
