<div class="container-fluid">
    <div class="row">
        <div class="card border-0">
            <img src="/content/img/cropped-welcome-to-danang.jpg" class="img-fluid" />
            <div class="card-img-overlay  d-flex justify-content-center align-content-center  txtSearch">
                <!-- <form class="col-md-12 d-flex justify-content-center align-content-center txtSearch" [formGroup]="chooseForm">
                    <div class="col-md-2 d-flex px-0">
            <select
              (change)="onChange($event)"
              class="col-md-8 offset-md-4 justify-content-end text-center rounded form-control form-control-lg"
              formControlName="choose"
            >
              <option *ngFor="let item of choose" [ngValue]="item.value">
                {{ item.name }}
              </option>
            </select>
          </div>
                    <div class="input-group hoverable text-dark rounded col-md-6 px-2">
                        <input class="form-control form-control-lg my-0 text-dark" [formControl]="searchText" type="text" placeholder="Search " aria-label="Search" />
                    </div>
                    <div class="btnFind  p-0 rounded col-md-2">
                        <button class="form-control form-control-lg col-md-8" (click)="search()">Tìm kiếm</button>
                    </div>
                </form> -->
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" [formGroup]="chooseForm">
                        <div class="card-body row px-3 py-2 no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search fa-2x text-body faa-wrench animated-hover"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" [formControl]="searchText" type="search" placeholder="Nhập từ khóa bạn muốn tìm kiếm" aria-label="Search">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-outline-primary" (click)="search()" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="carouselTop container-fluid ">
                <!-- You can use owl-carousel selector to include its component -->
                <owl-carousel [options]="{
            items: 6,
            dots: false,
            navigation: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            loop: true
          }" [items]="listProvinces" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="d-flex justify-content-center align-content-center carouselTopPanding" *ngFor="let item of listProvinces; let i = index">
                        <div class="" [ngStyle]="{ background: ' repeat scroll center center / 80px 80px' }">
                            <a class="" id="city" [routerLink]="['/listproduct', 'postByProvince', item.code, item.name]"><i
                                    class="fa fa-map-marker-alt faa-float animated"></i>{{ item.name }}</a>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12" style="background-color: #afc0cf;">
            <p-carousel class="px-1" [value]="post" styleClass="custom-carousel" [numVisible]="4" [numScroll]="3" [circular]="true" [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
                <p-header>
                    <a class="h3 font-weight-bold text-uppercase" href="#">NỔI BẬT NHẤT
                        <sup><button type="button"
                                class="btn btn-danger text-white bg-danger btn-sm px-1 py-0"><strong>Hot</strong></button></sup></a>
                </p-header>
                <ng-template let-post pTemplate="item">
                    <div class="card mx-2">
                        <img class="img-thumbnail rounded mx-auto d-block card-img-top" src="{{ imageUrl }}{{ post.imageDTO.img1 }}" />
                        <div class="d-flex flex-row icon-slide">
                            <div class="col-md-6 d-flex justify-content-start">
                                <!-- <p class="text-warning font-weight-bold"><i class="fas fa-street-view fa-lg text-warning"></i>2km</p> -->
                            </div>
                            <div class="col-md-6 d-flex justify-content-end float-right">
                                <p class="text-warning font-weight-bold">
                                    <i class="fas fa-chart-area fa-lg text-warning"></i>{{ post.productPostResponseDTO.product.area }}m<sup>2</sup>
                                </p>
                            </div>
                        </div>
                        <div class="card-body text-center" style="font-family:'Quicksand', sans-serif">
                            <h5 class="card-title giveMeEllipsisSlide font-weight-bold" data-toggle="tooltip " data-placement="top " title="Liên hệ">
                                <a [routerLink]="['/product', post.productPostResponseDTO.id, 'productdetail']">{{post.productPostResponseDTO.productPostTitle}}</a>
                            </h5>
                            <p class="font-weight-light font-italic giveMeEllipsisSlide">
                                <i class="fas fa-map-marked-alt"></i>{{ post.productPostResponseDTO.ward.name }}, {{ post.productPostResponseDTO.district.name }}, {{ post.productPostResponseDTO.province.name }}
                            </p>
                        </div>
                        <div class="card-body border-top d-flex col-md-12">
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-start">
                                {{ post.productPostResponseDTO.productPostType.productPostTypeName }}:
                            </h5>
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-center faa-pulse animated" *ngIf="post.productPostResponseDTO.product.price >= 100000000">
                                <i class="fas fa-dollar-sign fa-lg"></i>{{ post.productPostResponseDTO.product.price / 1000000000 }}tỷ
                            </h5>
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-center faa-pulse animated" *ngIf="post.productPostResponseDTO.product.price < 100000000 && post.productPostResponseDTO.product.price >= 1000000">
                                <i class="fas fa-dollar-sign fa-lg"></i>{{ post.productPostResponseDTO.product.price / 1000000 }}triệu
                            </h5>
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-center faa-pulse animated" *ngIf="post.productPostResponseDTO.product.price < 1000000">
                                <i class="fas fa-dollar-sign fa-lg"></i>{{ post.productPostResponseDTO.product.price / 1000 }}ngàn
                            </h5>
                        </div>
                        <div class="card-footer text-muted d-flex flex-row p-3">
                            <img *ngIf="post.productPostResponseDTO.user.imageUrl !== null" src="{{ imageUrl }}{{ post.productPostResponseDTO.user.imageUrl }}" style="width:40px; height:40px " class="d-flex justify-content-start rounded-circle" alt="{{ post.productPostResponseDTO.createdBy }}"
                            />
                            <img *ngIf="post.productPostResponseDTO.user.imageUrl === null" src="../../../content/img/default-avar.png" style="width:40px; height:40px " class="d-flex justify-content-start rounded-circle" alt="{{ post.productPostResponseDTO.createdBy }}" />
                            <a class="card-text my-0  pl-2 pt-2 pr-0 text-left text-capitalize text-truncate" data-placement="top " title="{{ post.productPostResponseDTO.user.firstName }} {{ post.productPostResponseDTO.user.lastName }}" style="width:150px;">{{ post.productPostResponseDTO.user.firstName }}
                                {{ post.productPostResponseDTO.user.lastName }}</a>
                            <div class="d-flex px-0 justify-content-end card-body py-0">
                                <a class="btn blue-gradient rounded text-light" [routerLink]="['/product', post.productPostResponseDTO.id, 'productdetail']" role="button">Chi
                                    tiết</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12" style="background-color: #acbfd1;">
            <p-carousel class="px-1 border-0" [value]="post" styleClass="custom-carousel" [numVisible]="4" [numScroll]="3" [circular]="true" [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
                <p-header>
                    <a class="h3 font-weight-bold text-uppercase" href="#">MỚI NHẤT
                        <sup><button type="button"
                                class="btn btn-warning text-white bg-warning btn-sm px-1 py-0"><strong>New</strong></button></sup></a>
                </p-header>
                <ng-template let-post pTemplate="item">
                    <div class="card mx-2">
                        <img class="img-thumbnail rounded mx-auto d-block card-img-top" src="{{ imageUrl }}{{ post.imageDTO.img1 }}" />
                        <div class="d-flex flex-row icon-slide">
                            <div class="col-md-6 d-flex justify-content-start">
                                <!-- <p class="text-warning font-weight-bold"><i class="fas fa-street-view fa-lg text-warning"></i>2km</p> -->
                            </div>
                            <div class="col-md-6 d-flex justify-content-end float-right">
                                <p class="text-warning font-weight-bold">
                                    <i class="fas fa-chart-area fa-lg text-warning"></i>{{ post.productPostResponseDTO.product.area }}m<sup>2</sup>
                                </p>
                            </div>
                        </div>
                        <div class="card-body text-center" style="font-family: 'Quicksand', sans-serif;">
                            <h5 class="card-title giveMeEllipsisSlide font-weight-bold" data-toggle="tooltip " data-placement="top " title="Liên hệ">
                                <a [routerLink]="['/product', post.productPostResponseDTO.id, 'productdetail']">{{
                  post.productPostResponseDTO.productPostTitle
                }}</a>
                            </h5>
                            <p class="font-weight-light font-italic giveMeEllipsisSlide">
                                <i class="fas fa-map-marked-alt"></i>{{ post.productPostResponseDTO.ward.name }}, {{ post.productPostResponseDTO.district.name }}, {{ post.productPostResponseDTO.province.name }}
                            </p>
                        </div>
                        <div class="card-body border-top d-flex col-md-12">
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-start">
                                {{ post.productPostResponseDTO.productPostType.productPostTypeName }}:
                            </h5>
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-center faa-pulse animated" *ngIf="post.productPostResponseDTO.product.price >= 100000000">
                                <i class="fas fa-dollar-sign fa-lg"></i>{{ post.productPostResponseDTO.product.price / 1000000000 }}tỷ
                            </h5>
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-center faa-pulse animated" *ngIf="post.productPostResponseDTO.product.price < 100000000 && post.productPostResponseDTO.product.price >= 1000000">
                                <i class="fas fa-dollar-sign fa-lg"></i>{{ post.productPostResponseDTO.product.price / 1000000 }}triệu
                            </h5>
                            <h5 class=" m-0 p-0 col-md-6 font-weight-bold d-flex justify-content-center faa-pulse animated" *ngIf="post.productPostResponseDTO.product.price < 1000000">
                                <i class="fas fa-dollar-sign fa-lg"></i>{{ post.productPostResponseDTO.product.price / 1000 }}nghìn
                            </h5>
                        </div>
                        <div class="card-footer text-muted d-flex flex-row p-3">
                            <img *ngIf="post.productPostResponseDTO.user.imageUrl !== null" src="{{ imageUrl }}{{ post.productPostResponseDTO.user.imageUrl }}" style="width:40px; height:40px " class="d-flex justify-content-start rounded-circle" alt="{{ post.productPostResponseDTO.createdBy }}"
                            />
                            <img *ngIf="post.productPostResponseDTO.user.imageUrl === null" src="../../../content/img/default-avar.png" style="width:40px; height:40px " class="d-flex justify-content-start rounded-circle" alt="{{ post.productPostResponseDTO.createdBy }}" />
                            <a class="card-text my-0  pl-2 pt-2 pr-0 text-left text-capitalize text-truncate" data-placement="top " title="{{ post.productPostResponseDTO.user.firstName }} {{ post.productPostResponseDTO.user.lastName }}" style="width:150px;">{{ post.productPostResponseDTO.user.firstName }}
                                {{ post.productPostResponseDTO.user.lastName }}</a>
                            <div class="d-flex px-0 justify-content-end card-body py-0">
                                <a class="btn blue-gradient rounded text-light" [routerLink]="['/product', post.productPostResponseDTO.id, 'productdetail']" role="button">Chi
                                    tiết</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p-carousel class="px-1 border-0" [value]="listUsers" styleClass="custom-carousel" [numVisible]="4" [numScroll]="3" [circular]="true" [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
                <p-header>
                    <a class="h3 font-weight-bold text-uppercase">NGƯỜI DÙNG NỔI BẬT <sup><i
                                class="fas fa-star fa-2a faa-burst animated text-danger"></i></sup></a>
                </p-header>
                <ng-template let-listUser pTemplate="item">
                    <div class="card mx-2">
                        <div class="card-body d-flex col-md-12" style="font-family: 'Quicksand', sans-serif;">
                            <div class="flex-column pt-1">
                                <img *ngIf="listUser.productPostResponseDTO.user.imageUrl !== null" src="{{ imageUrl }}{{ listUser.productPostResponseDTO.user.imageUrl }}" style="max-width:100px; max-height:100px" class="d-flex justify-content-start rounded-circle" alt="{{ listUser.productPostResponseDTO.createdBy }}"
                                />
                                <img *ngIf="listUser.productPostResponseDTO.user.imageUrl === null" src="../../../content/img/default-avar.png" style="max-width:100px; max-height:100px " class="d-flex justify-content-start rounded-circle" alt="{{ listUser.productPostResponseDTO.createdBy }}"
                                />
                            </div>
                            <div class="px-4 d-flex flex-column">
                                <a [routerLink]="['/listproduct', 'user', listUser.productPostResponseDTO.user.id, listUser.productPostResponseDTO.user.login]" class="card title text-center justify-content-center text-capitalize text-truncate font-weight-bold" data-placement="top "
                                    title="{{ listUser.productPostResponseDTO.user.firstName }} {{ listUser.productPostResponseDTO.user.lastName }}"><span
                                        class="px-1">{{ listUser.productPostResponseDTO.user.firstName }}
                                        {{ listUser.productPostResponseDTO.user.lastName }}</span></a>
                                <div class="d-flex flex-row justify-content-center py-2">
                                    <i class="fas fa-star faa-burst animated"></i><i class="fas fa-star faa-burst animated"></i><i class="fas fa-star faa-burst animated"></i>
                                </div>
                                <div class="card body border-0 d-flex flex-row pb-2">Số bài đăng: {{listUser.productPostResponseDTO.totalReport}}
                                </div>
                                <div class="card body border-0 d-flex flex-row pb-2">Liên hệ: {{ listUser.productPostResponseDTO.user.phone }}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class=" row col-md-12 d-inline-flex">
        <app-new></app-new>
    </div>