<div class="container pt-4">
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="bc-icons-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">BĐS</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Tin Tức</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active">Tiêu đề</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="news-title">
                                        <h2>{{detailNew.title}}</h2>
                                    </div>
                                    <div class="news-cats">
                                        <ul class="list-unstyled list-inline mb-1">
                                            <li class="list-inline-item">
                                                <i class="fa fa-folder-o text-danger"></i>
                                                <a href="#"><small>Advertisment</small> </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-folder-o text-danger"></i>
                                                <a href="#"><small>{{detailNew.createdBy}}</small> </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-folder-o text-danger"></i>
                                                <a href="#"><small>{{detailNew.createdDate | date:'HH:mm dd/MM/yyyy'}}</small></a>
                                            </li>

                                        </ul>
                                    </div>
                                    <p>{{detailNew.decription}}</p>

                                    <div class="img-news">
                                        <img class="img-fluid" *ngIf="detailNew.imageUrl === null" src="../../../../content/img/default-image.jpg">
                                        <img class="img-fluid" *ngIf="detailNew.imageUrl !== null" src="{{imageUrl}}{{detailNew.imageUrl}}">
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-wrap px-0 text-justify">
                                        <div [innerHTML]="detailNew.content" class="news-content innerHtml">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="more-feng-shui">
                                        <div class="more-content">
                                            <p style="margin-bottom: unset;">Xem thêm</p>
                                            <div class="see-feng-shui">
                                                <span class="txt-cricle"></span>
                                                <a href="#">Mua nhà giá rẻ</a>
                                            </div>
                                            <div class="see-feng-shui">
                                                <span class="txt-cricle"></span>
                                                <a href="#">Căn hộ cho thuê với giá cực sốc</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="news-footer">
                                        <div class="news-likes">
                                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-up text-success"></i> <span class="badge ">Likes 4</span></button>
                                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-down text-danger"></i><span class="badge">Disklikes 4</span></button>
                                        </div>
                                    </div> -->
                                    <!-- <hr> -->
                                    <!-- <div class="news-tags">
                                        <h5>Tags</h5>
                                        <button type="button" class="btn btn-sm btn-secondary">
                                          Education <span class="badge badge-light">4</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary">
                                          Entertainment <span class="badge badge-light">4</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary">
                                          Automobile <span class="badge badge-light">4</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary">
                                          Insurance <span class="badge badge-light">4</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary">
                                          Energy <span class="badge badge-light">4</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary">
                                          Health <span class="badge badge-light">4</span>
                                        </button>
                                    </div> -->
                                    <!-- <hr> -->
                                    <!-- <div class="news-author">
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <a href="#" title="Biswajit Saha"><img src="//www.gravatar.com/avatar/021e64775176cc4c7018e5e867f17de2?s=250&d=mm&r=x" alt="Author image" class="rounded-circle" style="width:100px"></a>
                                            </div>
                                            <div class="col">
                                                <div class="auth-title">
                                                    <h4 class="author h4"><a href="/author/biswajit/">Biswajit Saha</a></h4>
                                                    <div class="bio">
                                                        Developer at GBJ solution. I love to travel, make new friends. I prefer tea over coffee.
                                                    </div>
                                                    <ul class="list-unstyled list-inline">
                                                        <li class="list-inline-item"><a href="https://twitter.com/gbjsolution" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li class="list-inline-item"><a href="https://www.facebook.com/gbjsolution" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li class="list-inline-item"><a href="http://gbjsolution.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                                                        <li class="list-inline-item"><i class="fa fa-map-marker"></i> India</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>