<div class="d-flexbox mb-4 right-side col-md-11 px-0 offset-md-1 rounded">
    <div class="col-md-12 px-2">
        <p class="text-dark strong mb-2">Có thể bạn quan tâm</p>
    </div>
    <div class="card border-0 px-2">
        <div class="row no-gutters col-md-12 p-0">
            <div class="col-md-4 waves-light mr-2" style="background: #868e96;">
                <img src="../../../content/img/sg-1.jpg" class="card-img h-100 img-responsive" alt="..." />
            </div>
            <div class="col-md-7">
                <div class="card-body p-0 col-md-12 ">
                    <a href="#" class="card-title m-0 strong">
                        Alice Liddel Alice AA Liddel Liddel
                    </a>
                    <p class="card-text small col-md-12 p-0">Địa chỉ: abc xyz abc xyz abc xyz abc xyz</p>
                </div>
            </div>
        </div>
        <hr class="grey-text my-3" />
    </div>
</div>
