<div class="container-fluid col-md-12" style="margin-top: 30%; margin-bottom: 30%;">
    <div class="d-flex flex-row justify-content-center my-5">
        <div class="col-md-6" *ngIf="account$ | async as account">
            <h2 style="color: #428bca;">Mật khẩu của[<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Mật khẩu đã được đổi!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Có lỗi xảy ra!</strong> Mật khẩu không thể thay đổi.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Mật khẩu hoặc thông tin chưa chính xác!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Mật khẩu hiện tại </label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Mật khẩu hiện tại" formControlName="currentPassword">
                    <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword').errors.required">
                            Yêu cầu nhập mật khẩu.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Mật khẩu mới</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật khẩu mới" formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required">
                           Yêu cầu nhập mật khẩu.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength">
                           Yêu cầu nhập mật khẩu tối thiểu 4 kí tự.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength">
                           Yêu cầu nhập mật khẩu không quá 50 kí tự.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" formControlName="confirmPassword">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required">
                           Yêu cầu nhập mật khẩu.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                           Yêu cầu nhập mật khẩu tối thiểu 4 kí tự.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                           Yêu cầu nhập mật khẩu không quá 50 kí tự.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
