<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" #cd>
    <p-footer>
        <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Hủy" (click)="cd.reject()"></button>
        <button type="button" class="ui-button-primary" pButton icon="pi pi-check" label="Lưu lại" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!-- Heading -->
<jhi-alert></jhi-alert>
<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-12 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body  p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row col-md-12 m-0 p-0 d-flex justify-content-center">
                                <p-dataView #dv [value]="reviews" [paginator]="true" [lazy]="true" (onLazyLoad)="loadData($event)" [rows]="10" paginatorPosition="both" filterBy="title" [sortField]="sortField" [sortOrder]="sortOrder">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <div class="ui-g">
                                                <div class="ui-g-12 ui-md-4">
                                                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sắp xếp" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                                                </div>
                                                <div class="ui-g-6 ui-md-4 filter-container">
                                                    <div style="position:relative">
                                                        <input type="search" pInputText placeholder="Tìm bài đăng theo tên" (keyup)="dv.filter($event.target.value)">
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-md-4" style="text-align:right">
                                                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                                </div>
                                            </div>
                                        </div>
                                    </p-header>
                                    <ng-template let-review pTemplate="listItem">
                                        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                                            <div class="ui-g-12 ui-md-3" style="text-align:center">
                                                <img *ngIf="review.imageUrl !== null" src="{{imageUrl}}{{review.imageUrl}}" class="img-thumbnail rounded float-left mx-auto d-block" style="height: 160px;" alt="Responsive image">
                                                <img *ngIf="review.imageUrl === null" src="../../../../content/img/default-image.jpg" class="img-thumbnail rounded float-left mx-auto d-block" style="height: 160px;" alt="Responsive image">
                                            </div>
                                            <div class="ui-g-12 ui-md-8 post-details">
                                                <div class="ui-g">
                                                    <div class="ui-g-3 ui-sm-6"><i class="fas fa-book-reader"></i>Tiêu đề: </div>
                                                    <div class="ui-g-9 ui-sm-6 text-truncate" style="max-width: 490px;"><b>{{review.title}}</b></div>

                                                    <div class="ui-g-3 ui-sm-6"><i class="fas fa-address-card"></i>Tên sản phẩm: </div>
                                                    <div class="ui-g-9 ui-sm-6 text-truncate" style="max-width: 490px;"><b>{{review.decription}}</b></div>

                                                    <div class="ui-g-3 ui-sm-6"><i class="fas fa-calendar-alt"></i>Ngày đăng: </div>
                                                    <div class="ui-g-9 ui-sm-6"><b>{{review.createdDate | date:'HH:mm dd/MM/yyyy'}}</b></div>

                                                    <div class="ui-g-3 ui-sm-6"><i class="fas fa-calendar-alt"></i>Ngày sửa: </div>
                                                    <div class="ui-g-9 ui-sm-6"><b>{{review.lastModifiedDate | date:'HH:mm dd/MM/yyyy'}}</b></div>
                                                    <div class="ui-g-3 ui-sm-6">Trạng thái: </div>
                                                    <div class="ui-g-9 ui-sm-6" *ngIf="review.status"><span class="badge badge-success">Tồn tại</span></div>
                                                    <div class="ui-g-9 ui-sm-6" *ngIf="!review.status"><span class="badge badge-danger">Không tồn tại<i></i></span></div>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-md-1 search-icon py-3">
                                                <button class="btn btn-primary btn-sm d-flex justify-content-center mb-5" style="width:50px;" (click)="selectReview($event, review)">Xem</button>
                                                <button class="btn btn-warning btn-sm d-flex justify-content-center" style="width:50px;" *ngIf="review.status" (click)="deleteSelectReview(review.id)">Tắt</button>
                                                <button class="btn btn-success btn-sm d-flex justify-content-center" style="width:50px;" *ngIf="!review.status" (click)="returnSelectReview(review.id)">Bật</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-review pTemplate="gridItem">
                                        <div style="padding:.5em" class="ui-g-12 ui-md-5">
                                            <p-panel [header]="review.title" [style]="{'text-align':'center'}">
                                                <img *ngIf="review.imageUrl !== null" src="{{imageUrl}}{{review.imageUrl}}" class="img-thumbnail rounded  mx-auto d-block" style="height: 100px;" alt="Responsive image">
                                                <img *ngIf="review.imageUrl === null" src="../../../../content/img/default-image.jpg" class="img-thumbnail rounded  mx-auto d-block" style="height: 100px;" alt="Responsive image">

                                                <div class="post-detail text-truncate" style="max-width: 130px;">{{review.decription}}</div>
                                                <div class="post-detail text-truncate" style="max-width: 130px;">{{review.createdDate | date:'HH:mm dd/MM/yyyy'}}</div>
                                                <hr class="ui-widget-content" style="border-top:0">
                                                <!-- <button pButton type="button" icon="pi pi-search" (click)="selectPostproduct($event, post)" style="margin-top:0"></button> -->
                                                <button pButton type="button" icon="" (click)="selectReview($event, review)" label="Sửa"></button>
                                                <button class="ui-button-danger" pButton type="button" icon="" (click)="deleteSelectReview(review.id)" label="Xoá"></button>

                                            </p-panel>
                                        </div>
                                    </ng-template>
                                </p-dataView>

                                <p-dialog header="Chi tiết bài đăng" [(visible)]="displayDialog" [responsive]="true" (onHide)="onDialogHide()" showEffect="fade" [modal]="true" [style]="{width: '80%'}" (onAfterHide)="onDialogHide()">
                                    <div class="ui-g" *ngIf="review">
                                        <div class="ui-g-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form [formGroup]="reviewPostForm" (ngSubmit)="updateReview()">
                                                        <div class="row mb-2">
                                                            <div class="col-md-12">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="card-body">
                                                                                    <!-- Tiêu đề -->
                                                                                    <div class="row col-md-12 m-0 p-0 d-flex justify-content-left">
                                                                                        <div class="col-md-2 px-3">
                                                                                            <label class="m-0 py-1">Tiêu đề<label style="color: Red;">*</label></label>
                                                                                        </div>
                                                                                        <div class="col-md-10 pl-4">
                                                                                            <span class="ui-float-label pl-2 ml-2">
                                                              <input
                                                                id="float-input"
                                                                type="text"
                                                                formControlName="title"
                                                                style="width: 100%;"
                                                                pInputText
                                                              />
                                                              <label class="pl-2" for="float-input">Tiêu đề</label>
                                                            </span>
                                                                                            <div class="pl-3" *ngIf="reviewPostForm.controls.title.invalid && (reviewPostForm.controls.title.dirty || reviewPostForm.controls.title.touched)">
                                                                                                <small class="form-text text-danger" *ngIf="reviewPostForm.controls.title.errors?.required">
                                                                Tiêu đề không được để trống</small
                                                              >
                                                              <small class="form-text text-danger" *ngIf="reviewPostForm.get('title').errors.maxlength">
                                                                Tiêu đề dài nhất có 100 một kí tự.
                                                              </small>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- Tiêu đề -->
                                                                                    <div class="row col-md-12 m-0 p-0 d-flex justify-content-left my-3">
                                                                                        <div class="col-md-2 px-3">
                                                                                            <label class="m-0 py-1">Miêu tả ngắn<label style="color: Red;">*</label></label>
                                                                                        </div>
                                                                                        <div class="col-md-10 pl-4">
                                                                                            <span class="ui-float-label pl-2 ml-2">
                                                              <textarea
                                                                id="float-input"
                                                                rows="5"
                                                                cols="30"
                                                                formControlName="decription"
                                                                pInputTextarea
                                                                autoResize="autoResize"
                                                              ></textarea>
                                                              <label class="pl-2" for="float-input">Miêu tả ngắn</label>
                                                            </span>
                                                                                            <div class="pl-3" *ngIf="reviewPostForm.controls.decription.invalid && (reviewPostForm.controls.decription.dirty || reviewPostForm.controls.decription.touched)">
                                                                                                <small class="form-text text-danger" *ngIf="reviewPostForm.get('decription').errors.maxlength">
                                                                Miêu tả ngắn dài nhất có 200 một kí tự.
                                                              </small>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row col-md-12 m-0 p-0 d-flex justify-content-left my-3">
                                                                                        <div class="col-md-2 px-2 pl-3">
                                                                                            <label class="m-0 py-1">Loại bài đăng<label style="color: Red;">*</label></label>
                                                                                        </div>
                                                                                        <div class="col-md-10 pl-4">
                                                                                            <span class="ui-float-label pl-2 ml-2">
                                                                <p-selectButton formControlName="type" [options]="types" (onChange) = "selectOnchange($event)" [(ngModel)]="selectedType"></p-selectButton>
                                                            </span>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Chọn avatar -->
                                                                                    <div class="row col-md-12 m-0 p-0 ml-3 d-flex justify-content-left my-2">
                                                                                        <h6 class="first">Ảnh bìa</h6>
                                                                                        <div class="input-group ml-5 pl-5">
                                                                                            <p-fileUpload #fileUpload name="demo[]" multiple="multiple" accept="image/*" [showUploadButton]="true" (uploadHandler)="onUpload($event,fileUpload)" customUpload="true" cancelLabel="Bỏ" chooseLabel="Chọn hình" uploadLabel="Tải lên" (onRemove)="onRemove($event)"
                                                                                                fileLimit="1" maxFileSize="1000000" class="ml-5 pl-5">
                                                                                                <ng-template pTemplate="content">
                                                                                                    <ul *ngIf="uploadedFiles">
                                                                                                        <label *ngIf="uploadedFiles.length > 0">Tải lên thành công: </label>
                                                                                                        <li *ngFor="let file of uploadedFiles">{{file}}</li>
                                                                                                    </ul>
                                                                                                </ng-template>
                                                                                            </p-fileUpload>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- Mô tả -->
                                                                                    <div class="row col-md-12 mt-3 m-0 p-0 d-flex justify-content-left">
                                                                                        <div class="col-md-2 px-4">
                                                                                            <label class="m-0 py-1 ">Mô tả<label style="color: Red;">*</label></label>
                                                                                        </div>
                                                                                        <div class="col-md-10 pl-4">
                                                                                            <span class="ui-float-label pl-2 ml-2">
                                                              <p-editor
                                                                formControlName="content"
                                                                [(ngModel)]="text1"
                                                                [style]="{'height':'1000px'}"
                                                              ></p-editor>
                                                              <button
                                                                pButton
                                                                type="button"
                                                                label="Clear"
                                                                icon="pi pi-times"
                                                                (click)="text1=null"
                                                              ></button>
                                                            </span>
                                                                                            <div class="pl-3" *ngIf="reviewPostForm.controls.decription.invalid && (reviewPostForm.controls.content.dirty || reviewPostForm.controls.content.touched)">
                                                                                                <small class="form-text text-danger" *ngIf="reviewPostForm.controls.content.errors?.required">
                                                                Mô tả không được để trống</small
                                                              >
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </form>
                                      </div>
                                    </div>
                                  </div>

                            </div>
                        </p-dialog>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<!--/.Card-->


</div>


</div>
<!--Grid row-->
<script>
$('.datepicker').pickadate();
</script>
