<div class="bl-path">

    <div class="bl-inline col-left">
        <ol class="p-path">
            <li><a href="#"><span>Trang chủ / </span></a></li>
            <li><a href="#"><span>TP.Hà Nội / </span></a></li>
            <li><a href="#"><span>Nhà riêng Quận Hoàn Kiếm</span></a></li>
        </ol>
    </div>
    <div class="bl-inline pull-right col-right">
        <div class="bl-inline div-listing-id">
            <span>Mã tin đăng: 999999</span>
        </div>
        <div class="bl-inline div-posting">
            <span class="span-save-posting">
          <img class="icon" src="/content/img/icon-eye.jpg"/>237
        </span>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="bl-detail-listing">
        <div class="row">
            <div class="col-sm-9 bl-left">
                <p-galleria [images]="images" panelWidth="900" panelHeight="450" [showCaption]="true"></p-galleria>

                <div class="block-info block-info-1">
                    <div class="div-title-rose">
                        <h2 class="bl-inline" style="font-weight: 700 ">Nhà đẹp giá tốt có 1 0 2 mua đi mua đi kẻo mất</h2>
                    </div>
                    <div class="bl-inline bl-price">
                        <div class="bl-inline div-price">
                            <span class="span-price">8,5 Tỷ</span>
                            <span class="span-acreage" style="padding-left: 5px">126,3 m2</span>
                            <p class="bl-inline pull-right p-district">
                                <a href="#"><span>Q.Hoàn Kiếm</span></a>
                                <span> . </span>
                                <a href="#"><span>Phố Tràng Tiền</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="block-info block-info-2">
                    <h3 class="h3-title">Thông tin bất động sản:</h3>
                    <div class="bl-elements">
                        <span class="elements length">Chiều dài: 31.87m</span>
                        <span class="elements width">Chiều Rộng: 4.0m</span>
                        <span class="elements direction">Hướng T.Nam</span>
                        <span class="elements alley">Hẻm: 6.0m</span>
                        <span class="elements floors">Tầng: 2 Tầng</span>
                        <span class="elements ledger">Giấy tờ: Sổ hồng riêng</span>
                        <span class="elements bedroom">Phòng ngủ: 2 phòng</span>
                        <span class="elements badroom">Phòng tắm: 2 phòng</span>

                    </div>
                </div>
                <div class="block-info block-info-5">
                    <h3 class="h3-title">Tiện ích:</h3>
                    <div class="bl-elements">
                        <span class="elements">Gần công viên, trung tâm</span>
                        <span class="elements">Gần trường học</span>
                        <span class="elements">Gần mặt đường</span>
                        <span class="elements">Gần khu thương mại</span>
                        <span class="elements">Di chuyển thuận tiện ra trung tâm</span>
                    </div>
                </div>
                <div class="block-info block-info-6">
                    <h3 class="h3-title">Chi tiết tin đăng:</h3>
                    <div class="bl-info readmore-block" style="max-height: none">
                        <p><a class="content-detail" href="#">Bán nhà riêng Quận Hoàn Kiếm.</a><strong> </strong><strong class="content-detail">Hướng Đông Nam.&nbsp;</strong></p>
                        <p>- <strong class="content-detail">Diện tích 126.3m2 (31.87m x 4.0m). Thổ cư 100%.</strong></p>
                        <p class="content-detail">- Có bãi đỗ xe ô tô cách khoảng 50m</p>
                        <p class="content-detail">- Cách hồ Gươm 10 phút đi bộ. Gần UBND quận Hoàn Kiếm, an ninh đảm bảo. Gần trường THPT Trần Phú, gần Cung văn hóa hữu nghị Việt Xô. Di chuyển thuận tiện, ít gặp tình trạng tắc đường.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 bl-right no-padding">
                <div class="form-horizontal bl-info-customer" id="search-advand">
                    <div class="bl-title">Thông tin người đăng</div>
                    <div class="bl-border form-info bv-form" novalidate="novalidate">

                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-profile" src="/content/img/profile.jpg">
                            </div>
                            <div class="col-sm-8">
                                <div class="text">Nguyễn Văn A</div>
                                <div class="text">0962025543</div>
                                <div class="text">Anv2634@gmail.com</div>
                            </div>
                        </div>
                        <div class="bl-title">Yêu cầu thông tin</div>
                        <div class="bl-border form-info bv-form">
                            <div class="col-sm-12">
                                <div class="bl-input-new div-fullname">
                                    <div class="row">
                                        <div class="col-sm-2"><img class="icon" src="/content/img/profile_icon.png"></div>
                                        <div class="col-sm-10"><input name="name" type="text" class="form-control-new" placeholder="Tên(*)" /></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="bl-input-new div-fullname">
                                    <div class="row">
                                        <div class="col-sm-2"><img class="icon" src="/content/img/smart-phone_icon.png"></div>
                                        <div class="col-sm-10"><input name="phoneNum" type="text" class="form-control-new" placeholder="Số điện thoại(*)" /></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="bl-input-new div-fullname">
                                    <div class="row">
                                        <div class="col-sm-2"><img class="icon" src="/content/img/email_icon.png"></div>
                                        <div class="col-sm-10"><input name="email" type="text" class="form-control-new" placeholder="Email(*)" /></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Lời nhắn"></textarea>
                                </div>
                            </div>
                            <div class="button-contact">
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block">Liên hệ</button>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="bl-post">
        <h2 class="block-title-h2" style="padding-top: 2%">Bất động sản tương tự</h2>
        <div class="hot row mt-4">
            <div class="row mx-5">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <ul class="list-group list-group-horizontal-md list-group-horizontal-sm list-group-horizontal-lg list-group-horizontal-xl   mx-0">
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="carousel-item">
                            <ul class="list-group list-group-horizontal-md list-group-horizontal-sm list-group-horizontal-lg list-group-horizontal-xl   mx-0">
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="carousel-item">
                            <ul class="list-group list-group-horizontal-md list-group-horizontal-sm list-group-horizontal-lg list-group-horizontal-xl   mx-0">
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-md-3 p-2">
                                    <div class="card">
                                        <img class="card-img-top" src="/content/img/du lịch Đà Nẵng 1(1).jpg" alt="Card image cap">
                                        <div class="row">
                                            <div class="card-img-overlay text-center m-0 p-0 col-md-12">
                                                <a href="#" class="btn btn-outline-primary viewdetail">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="d-inline-flexbox  col-md-12">
                                            <div class="card-img-overlay col-md-6">
                                                <p class="card-text textoverimg" style="color: white"><i class="fas fa-street-view"></i>2km</p>
                                            </div>
                                            <div class="card-img-overlay col-md-6 offset-md-7">
                                                <p class="card-text textoverimg " style="color: white"><i class="fas fa-chart-area"></i>90m<sup>2</sup></p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="row ">
                                                <h5 class="card-title" data-toggle="tooltip " data-placement="top " title="Liên hệ " style="font-weight:bold "><a href="#">Cho thuê căn hộ mini cao cấp quận Bình Thạnh, phòng mới, nội thất đầy đủ</a></h5>
                                                <p class="card-text ml-2"><i class="fas fa-map-marked-alt "></i>Thạch Hoà , Thạch Thất, Hà Nội</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <h5 class="col-md-12 m-0 p-0  text-center"><i class="fas fa-dollar-sign "></i>10tr-30tr/tháng</h5>
                                            </div>
                                            <hr>

                                            <div class="row ">
                                                <a href="#" class="col-md-7 nickname card-text float-left my-0 " data-toggle="tooltip " data-placement="top " title="donozonsdfsdfsdfds "> <img src="/content/img/don.jpg " style="width:40px; height:40px " class="rounded-circle
                                                                              " alt="Cinque Terre "> donozonsdfsdfsdfds</a>
                                                <a href="#" class="col-md-5 contact card-text float-right my-0 " data-toggle="tooltip " data-placement="top " title="Liên hệ "><i class="far fa-comment-dots" style="font-size: 20px"></i>Liên hệ</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> -->
                </div>
            </div>
        </div>
    </div>
</div>