<div class="bl-path">

    <div class="bl-inline col-left">
        <div class="bc-icons-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Trang chủ</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Mua bán</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Căn hộ</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                    <li class="breadcrumb-item active">TP HỒ CHÍ MINH</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bl-inline pull-right col-right">
        <div class="bl-inline div-listing-id">
            <span>Mã tin đăng: 999999</span>
        </div>
        <div class="bl-inline div-posting">
            <span class="span-save-posting">
          <img class="icon" src="/content/img/icon-eye.jpg"/>237
        </span>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="bl-detail-listing">
        <div class="row">
            <div class="col-sm-9 bl-left">
                <p-galleria [images]="images" panelWidth="900" panelHeight="450" [showCaption]="true"></p-galleria>
                <div class="main-content">
                    <div class="block-info block-info-1">
                        <div class="div-title-rose">
                            <h2 class="bl-inline" style="font-weight: 700 ">Nhà đẹp giá tốt có 1 0 2 mua đi mua đi kẻo mất</h2>
                        </div>
                        <div class="bl-inline bl-price">
                            <div class="bl-inline div-price">
                                <span class="span-price">8,5 Tỷ</span>
                                <span class="span-acreage" style="padding-left: 5px">126,3 m2</span>
                                <p class="bl-inline pull-right p-district">
                                    <a href="#"><span>Q.Hoàn Kiếm</span></a>
                                    <span> . </span>
                                    <a href="#"><span>Phố Tràng Tiền</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="block-info block-info-2">
                        <h3 class="h3-title">Thông tin bất động sản:</h3>
                        <div class="bl-elements">
                            <span class="elements length">Chiều dài: 31.87m</span>
                            <span class="elements width">Chiều Rộng: 4.0m</span>
                            <span class="elements direction">Hướng T.Nam</span>
                            <span class="elements alley">Hẻm: 6.0m</span>
                            <span class="elements floors">Tầng: 2 Tầng</span>
                            <span class="elements ledger">Giấy tờ: Sổ hồng riêng</span>
                            <span class="elements bedroom">Phòng ngủ: 2 phòng</span>
                            <span class="elements badroom">Phòng tắm: 2 phòng</span>

                        </div>
                    </div>
                    <div class="block-info block-info-5">
                        <h3 class="h3-title">Tiện ích:</h3>
                        <div class="bl-elements">
                            <span class="elements">Gần công viên, trung tâm</span>
                            <span class="elements">Gần trường học</span>
                            <span class="elements">Gần mặt đường</span>
                            <span class="elements">Gần khu thương mại</span>
                            <span class="elements">Di chuyển thuận tiện ra trung tâm</span>
                        </div>
                    </div>
                    <div class="block-info block-info-6">
                        <h3 class="h3-title">Chi tiết tin đăng:</h3>
                        <div class="bl-info readmore-block" style="max-height: none">
                            <p><a class="content-detail" href="#">Bán nhà riêng Quận Hoàn Kiếm.</a><strong> </strong><strong class="content-detail">Hướng Đông Nam.&nbsp;</strong></p>
                            <p>- <strong class="content-detail">Diện tích 126.3m2 (31.87m x 4.0m). Thổ cư 100%.</strong></p>
                            <p class="content-detail">- Có bãi đỗ xe ô tô cách khoảng 50m</p>
                            <p class="content-detail">- Cách hồ Gươm 10 phút đi bộ. Gần UBND quận Hoàn Kiếm, an ninh đảm bảo. Gần trường THPT Trần Phú, gần Cung văn hóa hữu nghị Việt Xô. Di chuyển thuận tiện, ít gặp tình trạng tắc đường.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 bl-right no-padding">
                <div class="form-horizontal bl-info-customer" id="search-advand">
                    <div class="bl-title">Thông tin người đăng</div>
                    <div class="bl-border form-info bv-form" novalidate="novalidate">

                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-profile" src="/content/img/profile.jpg">
                            </div>
                            <div class="col-sm-8">
                                <div class="text">Nguyễn Văn A</div>
                                <div class="text">0962025543</div>
                                <div class="text">Anv2634@gmail.com</div>
                            </div>
                        </div>
                        <div class="bl-title">Yêu cầu thông tin</div>
                        <div class="bl-border form-info bv-form">
                            <div class="col-sm-12">
                                <div class="bl-input-new div-fullname">
                                    <div class="row">
                                        <div class="col-sm-2"><img class="icon" src="/content/img/profile_icon.png"></div>
                                        <div class="col-sm-10"><input name="name" type="text" class="form-control-new" placeholder="Tên(*)" /></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="bl-input-new div-fullname">
                                    <div class="row">
                                        <div class="col-sm-2"><img class="icon" src="/content/img/smart-phone_icon.png"></div>
                                        <div class="col-sm-10"><input name="phoneNum" type="text" class="form-control-new" placeholder="Số điện thoại(*)" /></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="bl-input-new div-fullname">
                                    <div class="row">
                                        <div class="col-sm-2"><img class="icon" src="/content/img/email_icon.png"></div>
                                        <div class="col-sm-10"><input name="email" type="text" class="form-control-new" placeholder="Email(*)" /></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Lời nhắn"></textarea>
                                </div>
                            </div>
                            <div class="button-contact">
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block">Liên hệ</button>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="bl-post">
        <div class="news">

            <div class="box-title">
                <div class="row">
                    <div class="col-sm-8 title-left">
                        <h2>
                            <a href="#">Bất động sản tương tự</a>
                            <span class=""></span>
                        </h2>
                        <span class="grey-text small">
                                Cập nhật các thông tin mới nhất về thị trường bất động sản
                            </span>
                    </div>

                </div>
            </div>
            <div class="row mt-1 mb-5">
                <div class="col-md-12 p-0">
                    <div class="card-deck p-0 m-0 d-flex justify-content-center">
                        <div class="card col-md-3 p-2 mr-3 rounded">
                            <img class="card-img-top" src="/content/img/sg-1.jpg" alt="Card image cap">
                            <a href="#">
                                <h5 class="card-title pt-2 px-1 m-0">Alice Liddel</h5>
                            </a>
                            <div class="card-body p-1">
                                <p class="card-text border-bottom py-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-inline-flex col-md-12 px-0 justify-content-end">
                                    <button class="btn blue-gradient col-md-6 text-light" mdbWavesEffect>Xem thêm</button>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3 p-2 mr-3 rounded">
                            <img class="card-img-top" src="/content/img/sg-1.jpg" alt="Card image cap">
                            <a href="#">
                                <h5 class="card-title pt-2 px-1 m-0">Alice Liddel</h5>
                            </a>
                            <div class="card-body p-1">
                                <p class="card-text border-bottom py-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-inline-flex col-md-12 px-0 justify-content-end">
                                    <button class="btn blue-gradient col-md-6 text-light" mdbWavesEffect>Xem thêm</button>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3 p-2 mr-3 rounded">
                            <img class="card-img-top" src="/content/img/sg-1.jpg" alt="Card image cap">
                            <a href="#">
                                <h5 class="card-title pt-2 px-1 m-0">Alice Liddel</h5>
                            </a>
                            <div class="card-body p-1">
                                <p class="card-text border-bottom py-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-inline-flex col-md-12 px-0 justify-content-end">
                                    <button class="btn blue-gradient col-md-6 text-light" mdbWavesEffect>Xem thêm</button>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3 p-2 ml-3 rounded">
                            <img class="card-img-top" src="/content/img/sg-1.jpg" alt="Card image cap">
                            <a href="#">
                                <h5 class="card-title pt-2 px-1 m-0">Alice Liddel</h5>
                            </a>
                            <div class="card-body p-1">
                                <p class="card-text border-bottom py-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-inline-flex col-md-12 px-0 justify-content-end">
                                    <button class="btn blue-gradient col-md-6 text-light" mdbWavesEffect>Xem thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>