//.container {
//  padding: 0;
//  margin: 0;
//  width: 100%;
//  box-sizing: border-box;
//}
//
//// .modal-body {
////     background-color: #0a3b76;
////     background: linear-gradient(to right, #0062E6, #0a3b76);
//// }
//nav {
//  padding-top: 0.5%;
//  padding-bottom: 0.5%;
//  // background-color: rgb(131, 168, 238);
//  background-color: #0a3b76;
//  max-width: 100%;
//  .nav-link {
//    color: #428bca;
//  }
//  span {
//    font-weight: bold;
//    margin-bottom: 1%;
//    background-color: white;
//    color: #503acf;
//    -moz-border-radius: 8px;
//    -webkit-border-radius: 8px;
//    -ms-border-radius: 8px;
//    -o-border-radius: 8px;
//    border-radius: 8px;
//  }
ul {
  li {
    margin-right: 5px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    a:hover {
      background: rgba($color: #0a3b76, $alpha: 1);
      border-radius: 5px;
      color: white;
    }
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
    border-radius: 5px;
    background: rgba($color: #428bca, $alpha: 1);
    .dropdown-item {
      font-size: 14px;
      color: #428bca;
      text-align: left;
    }
    .dropdown-item:hover {
      font-size: 14px;
      color: white;
      background: rgba($color: #0a3b76, $alpha: 1);
    }
    .dropdown-menu:hover {
      background: rgba($color: #428bca, $alpha: 1);
    }
    .dropdown-submenu:hover {
      background: rgba($color: #428bca, $alpha: 1);
    }
    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-submenu {
      position: relative;
    }
    .dropdown-submenu > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-left: 0;
    }
    .dropdown-submenu > a:after {
      display: block;
      font-family: FontAwesome, sans-serif;
      font-weight: 1;
      // font-size: 12px;
      content: '\f054';
      float: right;
      width: 0;
      height: 0;
      // border-width: 5px 0 5px 5px;
      // border-left-color: #ccc;
      //margin-top: 0;
      margin-right: -10px;
    }
  }
}

//  label {
//    // color: #503ACF;
//    color: white;
//    margin-top: 8px;
//    float: right;
//    font-size: 14px;
//  }
//  button {
//    margin-left: 15px;
//    float: right;
//    color: #503acf;
//    background: rgba($color: #ffffff, $alpha: 1);
//    button:hover {
//      background: rgba($color: #0a3b76, $alpha: 0.8);
//      -moz-border-radius: 5px;
//      -webkit-border-radius: 5px;
//      -ms-border-radius: 5px;
//      -o-border-radius: 5px;
//      border-radius: 5px;
//      color: white;
//    }
//  }
//  .createpost:hover {
//    background: rgba($color: #7aaad4, $alpha: 0.6);
//    -moz-border-radius: 5px;
//    -webkit-border-radius: 5px;
//    -ms-border-radius: 5px;
//    -o-border-radius: 5px;
//    border-radius: 5px;
//    color: white;
//  }
//}
header {
  top: 0;
  width: 100%;
  // background: linear-gradient(40deg, #ffffff, #f6f6f6);
  background: #0a3b76;
  .wrap-header {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75px;
    .header-logo {
      display: block;
      position: absolute;
      left: 60px;
      top: 50%;
      transform: translateY(-50%);
    }
    .wrap-menu {
      .menu {
        display: block;
        .main-menu {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 0;
          li {
            padding: 10px 15px 10px 15px;
            a {
              font-size: 16px;
              text-decoration: none;
              font-weight: 600;
              font-size: 15px;
              color: #ffffff;
              transition: all 0.4s;
              &:hover {
                color: whitesmoke;
              }
            }
          }
        }
      }
    }
    .header-icon {
      display: flex;
      align-items: center;
      position: absolute;
      right: 60px;
      top: 50%;
      transform: translateY(-50%);
      .header-icon-user {
        .dropdown {
          padding: 10px 0;
          position: relative;
          display: inline-block;
          cursor: pointer;
          background: #428bca;
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
          ul {
            margin-top: 10px;
            transition: all 0.2s ease-in-out;
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            background-color: #428bca;
            max-width: 200px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;
            right: 0;
            list-style-type: none;
            border-radius: 2px;
            padding: 0;
            text-align: center;
            border: 1px solid #428bca;
            border-radius: 5px;
            li {
              min-width: 180px;
              padding: 5px 30px;
              margin: 0;
              transition: all ease-in-out 0.2s;
              &:hover {
                background: #0a3b76;
                a {
                  color: white;
                }
              }
              a {
                color: whitesmoke;
                text-decoration: none;
              }
            }
          }
        }
      }
      .line-divide {
        display: block;
        margin: 0 25px 0;
        height: 22px;
        width: 1px;
        background-color: #e5e5e5;
      }
      .header-icon-cart {
        .icon-cart {
          cursor: pointer;
        }
        .header-icon-noti {
          background-color: #111111;
          color: #fff;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          text-align: center;
          font-size: 12px;
          display: flex;
          justify-content: center;
          top: 0;
          right: -12px;
          align-items: center;
        }
        .header-cart {
          display: block;
          position: absolute;
          width: 339px;
          z-index: 1;
          right: -15px;
          margin: 0;
          padding: 20px;
          border: 1px solid #eee;
          background-color: white;
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.23);
          border-radius: 3px;
          .cart-wrap-items {
            max-height: 270px;
            overflow: auto;
            list-style-type: none;
            padding: 0;
            li {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin-bottom: 15px;
              .header-cart-item-img {
                width: 80px;
                position: relative;
                margin-right: 20px;
                img {
                  width: 100%;
                }
              }
              .header-cart-item-info {
                width: calc(100% - 100px);
                .header-cart-item-name {
                  display: block;
                  font-size: 14px;
                  text-decoration: none;
                  line-height: 1.3;
                  margin-bottom: 10px;
                  color: #111111;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    color: #e65540;
                  }
                }
                .header-cart-item-info {
                  display: block;
                  font-size: 12px;
                  color: #888888;
                  line-height: 1.5;
                }
              }
            }
          }
          .header-cart-total {
            font-size: 14px;
            text-align: right;
            padding-right: 15px;
          }
          .header-cart-buttons {
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .header-cart-wrapbtn {
              a {
                background-color: #111111;
                border-radius: 20px;
                border: 1px solid #111;
                text-decoration: none;
                font-size: 12px;
                padding: 7px 17px;
                color: white;
                transition: all 0.3s ease-in-out;
                &:hover {
                  background-color: #fff;
                  color: #111111;
                }
              }
            }
          }
        }
      }
    }
    .show-menu-responsive {
      font-size: 1.6rem;
      color: white;
      display: none;
    }
  }
  .menu-bar-responsive {
    transition: all 0.3s ease-in-out;
    transform: translateX(-200px);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: rgb(53, 50, 50);
    box-shadow: 50px 0 100px rgba(0, 0, 0, 0.4);
    padding: 10px 0 0 20px;
    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2rem;
      color: #e65540;
      cursor: pointer;
    }
    ul {
      line-height: 2rem;
      padding: 0;
      list-style-type: none;
      margin-top: 60px;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 885px) {
  header {
    .wrap-header {
      position: relative;
      .wrap-menu {
        display: none;
      }
      .header-icon {
        margin-right: 25px;
        .line-divide {
          margin: 0 15px 0;
        }
      }
      .show-menu-responsive {
        position: absolute;
        display: inline-block;
        top: 23px;
        right: 12px;
      }
    }
    .show-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 465px) {
  header {
    .wrap-header {
      position: relative;
      .header-logo {
        left: 12px;
      }
      .wrap-menu {
        display: none;
      }
      .header-icon {
        margin-right: 5px;
        .line-divide {
          margin: 0 10px 0;
        }
        .header-icon-cart {
          .header-cart {
            width: 308px;
            right: -60px;
          }
        }
      }
      .show-menu-responsive {
        position: absolute;
        display: inline-block;
        top: 23px;
        right: 12px;
      }
    }
    .show-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover {
    ul {
      opacity: 1;
      visibility: visible;
    }
  }
  ul {
    transition: all 0.2s ease-in-out;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    list-style-type: none;
    border-radius: 2px;
    padding: 0;
    text-align: center;
    border: 1px solid #eee;
    li {
      padding: 0 30px;
      transition: all ease-in-out 0.2s;
      &:hover {
        background: #eee;
        a {
          color: #e65540;
        }
      }
      a {
        color: #111111;
        text-decoration: none;
      }
    }
  }
}

.icon-user {
  max-width: 36px;
  max-height: 36px;
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
  }
}

a:active {
  background: rgba($color: #428bca, $alpha: 0);
}

a:focus {
  background: rgba($color: #428bca, $alpha: 0);
}

/* PULSE */

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  animation: pulse 3s linear infinite;
}
