<header [ngSwitch]="isAuthenticated()">
    <div class="wrap-header">
        <a [routerLink]="['']" role="button" class="header-logo btn btn-info d-flex flex-auto">
            <img width="30" height="30" src="/content/img/600px-Godot_icon.svg.png" alt="logo">
            <span class="pt-1 pl-1">REBS</span>
        </a>
        <div class="wrap-menu">
            <nav class="menu">
                <ul class="main-menu">
                    <li><a class="nav-link  faa-pulse animated-hover text-uppercase" [routerLink]="['']">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link faa-pulse animated-hover text-uppercase" [routerLink]="['/listproduct','postTypeSearch', 1 , 'Mua bán']" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mua bán</a>
                        <div class="dropdown-menu multi-level">
                            <div class="dropdown-submenu">
                                <a [routerLink]="['/listproduct','typeSearch', 1 , 1 ,'Mua bán', 'Căn hộ']" class="dropdown-item" data-toggle="dropdown">Căn hộ</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 1 , 1 ,'Mua bán', 'Căn hộ','Căn hộ trung cấp']">Căn hộ trung cấp</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 2 , 1 ,'Mua bán', 'Căn hộ','Căn hộ cao cấp']">Căn hộ cao cấp</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch', 3 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Penthouse']">Căn hộ Penthouse</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 4 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Duplex']">Căn hộ Duplex</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch', 5 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Skyvillar']">Căn hộ Skyvillar</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 6 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Loft-House']">Căn hộ Loft-House</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 7 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Studio']">Căn hộ Studio</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch', 8 , 1 ,'Mua bán', 'Căn hộ','Căn hộ giá rẻ']">Căn hộ giá rẻ</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch',18 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Mini']">Căn hộ Mini</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a [routerLink]="['/listproduct','typeSearch', 2 , 1 ,'Mua bán', 'Nhà']" class="dropdown-item" data-toggle="dropdown">Nhà</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 9 , 1 ,'Mua bán', 'Nhà','Nhà riêng']">Nhà riêng</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 10 , 1 ,'Mua bán', 'Nhà','Nhà mặt phố']">Nhà mặt phố</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 11 , 1 ,'Mua bán', 'Nhà','Shophouse']">Shophouse</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" [routerLink]="['/listproduct','typeSearch' , 3 , 1 ,'Mua bán', 'Biệt thự']" data-toggle="dropdown">Biệt thự</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch',12 , 1 ,'Mua bán', 'Biệt thự','Biệt thự nghỉ dưỡng']">Biệt thự nghỉ dưỡng</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 13 , 1 ,'Mua bán', 'Biệt thự','Biệt thự đơn lập']">Biệt thự đơn lập</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 14 , 1 ,'Mua bán', 'Biệt thự','Biệt thự song lập']">Biệt thự song lập</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 15 , 1 ,'Mua bán', 'Biệt thự','Biệt thự tứ lập']">Biệt thự tứ lập</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link faa-pulse animated-hover text-uppercase" [routerLink]="['/listproduct','postTypeSearch', 2 , 'Cho thuê']" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cho thuê</a>
                        <div class="dropdown-menu multi-level">
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Căn hộ</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 1 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ trung cấp']">Căn hộ trung cấp</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 2 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ cao cấp']">Căn hộ cao cấp</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 3 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Penthouse']">Căn hộ Penthouse</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 4 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Duplex']">Căn hộ Duplex</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 5 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Skyvillar']">Căn hộ Skyvillar</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 6 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Loft-House']">Căn hộ Loft-House</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 7 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Studio']">Căn hộ Studio</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 8 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Condotel']">Căn hộ giá rẻ</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 18 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Mini']">Căn hộ mini</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a [routerLink]="['/listproduct','typeSearch', 2 , 2 ,'Cho thuê', 'Căn hộ']" class="dropdown-item" data-toggle="dropdown">Nhà</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 9 , 2 ,'Cho thuê', 'Nhà','Nhà riêng']">Nhà riêng</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 10 , 2 ,'Cho thuê', 'Nhà','Nhà mặt phố']">Nhà mặt phố</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 11 , 2 ,'Cho thuê', 'Nhà','Nhà Shophouse']">Shophouse</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a [routerLink]="['/listproduct','typeSearch', 3 , 2 ,'Cho thuê', 'Căn hộ' ]" class="dropdown-item" data-toggle="dropdown">Biệt thự</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 12 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự nghỉ dưỡng']">Biệt thự nghỉ dưỡng</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 13 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự đơn lập']">Biệt thự đơn lập</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 14 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự song lập']">Biệt thự song lập</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 15 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự tứ lập']">Biệt thự tứ lập</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a [routerLink]="['/listproduct','typeSearch', 4 , 2 ,'Cho thuê', 'Căn hộ' ]" class="dropdown-item" data-toggle="dropdown">Văn phòng</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 16 , 2 ,'Cho thuê', 'Văn phòng','Văn phòng Officetel']">Văn phòng Officetel</a>
                                    <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 17 , 2 ,'Cho thuê', 'Văn phòng','Văn phòng Co-Working Space']">Co-Working Space</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a [routerLink]="['/listproduct','typeSearch', 5 , 2 ,'Cho thuê', 'Nhà trọ' ]" class="dropdown-item">Nhà trọ</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link faa-pulse animated-hover text-uppercase" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tiện ích
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="[ '/fengshui']">Xem phong thuỷ</a>
                            <a class="dropdown-item" [routerLink]="[ '/law']">Thư viện pháp luật</a>
                            <a class="dropdown-item" [routerLink]="[ '/law']">Câu hỏi thường gặp</a>
                        </div>
                    </li>
                    <li><a class="nav-link faa-pulse animated-hover text-uppercase" [routerLink]="[ '/news']">Tin tức</a></li>
                    <li><a class="nav-link faa-pulse animated-hover text-uppercase" [routerLink]="[ '/review']">Diễn đàn</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-icon d-flex flex-row">
            <div class="dropdown mt-2" *ngSwitchCase="true">
                <a class="badge faa-tada animated" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="#" aria-expanded="true">
                    <i class="fas fa-bell text-light fa-lg pb-2"></i><sup class="badge badge-danger" *ngIf="num != 0">{{num}}</sup>
                </a>
                <div class="dropdown mt-3 pl-3" id="timeline">
                    <ul class="timeline timeline-icons timeline-sm">
                        <li *ngFor="let item of notis">
                            <p *ngIf="item.type == 1">
                                <a>{{item.userSend.login}}</a> {{item.content}}<a> với bạn</a>
                                <span class="timeline-icon"><i class="fas fa-user-clock"></i></span>
                                <span class="timeline-date">{{item.createdDate | date:'HH:mm dd/MM/yyyy'}}</span>
                            </p>
                            <p *ngIf="item.type == 2">
                                <span class="text-truncate">[Thông báo]: {{item.content}}</span>
                                <span class="timeline-icon"><i class="fas fa-user-clock"></i></span>
                                <span class="timeline-date">{{item.createdDate | date:'HH:mm dd/MM/yyyy'}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-icon-user pl-2">
                <button type="button" class="btn btn-info btn-block text-uppercase" *ngSwitchCase="true" [routerLink]="[ '/postproduct']">Đăng tin</button>
                <button type="button" class="btn btn-info btn-block text-uppercase" *ngSwitchCase="false" data-toggle="tooltip" data-placement="top" title="Đăng nhập để có thể tạo bài đăng" [routerLink]="[ '/login']">Đăng tin</button>
            </div>
            <div class="header-icon-user pl-4">
                <div class="dropdown" *ngSwitchCase="true">
                    <a *ngIf="account.imageUrl === null" data-toggle="tooltip" data-placement="top" title="Chào mừng {{account.login}}"><i class="fas fa-user-cog fa-2x text-white border-2 light-red"></i></a>
                    <a *ngIf="account.imageUrl !== null" data-toggle="tooltip" data-placement="top" title="Chào mừng {{account.login}}"><img class="icon-user" src="{{imageUrl}}{{account.imageUrl}}"></a>
                    <ul class="drop-down" [class.show-dropdown]="isShowDropdown">
                        <li class="mt-2" *jhiHasAnyAuthority="'ROLE_USER'" [routerLink]="[ '/usermanage']"><a>Quản lí tài khoản</a></li>
                        <li class="mt-2" *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLink]="[ '/admin']"><a>Quản lí chung</a></li>
                        <li [routerLink]="['/notification']"><a>Thông báo</a></li>
                        <li (click)="requestChangePassword()"><a>Đổi mật khẩu</a></li>
                        <li class="mb-2" (click)="logout()"><a>Đăng xuất</a></li>
                    </ul>
                </div>
                <a class="icon-user" *ngSwitchCase="false" [routerLink]="[ '/login']" data-toggle="tooltip" data-placement="top" title="Đăng nhập"><i class="fas fa-sign-in-alt fa-2x text-white"></i></a>

            </div>
        </div>
        <a href="#" (click)="showMenu();" class="show-menu-responsive">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="menu-bar-responsive" [class.show-menu]="isShowMenu">
        <i class="fas fa-times btn-close" (click)="showMenu();"></i>
        <ul>
            <li><a class="nav-link" [routerLink]="['']">Trang chủ</a></li>
            <li>
                <a class="nav-link" [routerLink]="['/listproduct','postTypeSearch', 1 , 'Mua bán']" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mua bán</a>
                <div class="dropdown-menu multi-level">
                    <div class="dropdown-submenu">
                        <a [routerLink]="['/listproduct','typeSearch', 1 , 1 ,'Mua bán', 'Căn hộ']" class="dropdown-item" data-toggle="dropdown">Căn hộ</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 1 , 1 ,'Mua bán', 'Căn hộ','Căn hộ trung cấp']">Căn hộ trung cấp</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 2 , 1 ,'Mua bán', 'Căn hộ','Căn hộ cao cấp']">Căn hộ cao cấp</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch', 3 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Penthouse']">Căn hộ Penthouse</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 4 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Duplex']">Căn hộ Duplex</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch', 5 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Skyvillar']">Căn hộ Skyvillar</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 6 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Loft-House']">Căn hộ Loft-House</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 7 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Studio']">Căn hộ Studio</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch', 8 , 1 ,'Mua bán', 'Căn hộ','Căn hộ giá rẻ']">Căn hộ giá rẻ</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct', 'typeChildSearch',18 , 1 ,'Mua bán', 'Căn hộ','Căn hộ Mini']">Căn hộ Mini</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <a [routerLink]="['/listproduct','typeSearch', 2 , 1 ,'Mua bán', 'Nhà']" class="dropdown-item" data-toggle="dropdown">Nhà</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 9 , 1 ,'Mua bán', 'Nhà','Nhà riêng']">Nhà riêng</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 10 , 1 ,'Mua bán', 'Nhà','Nhà mặt phố']">Nhà mặt phố</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 11 , 1 ,'Mua bán', 'Nhà','Shophouse']">Shophouse</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <a href="#" class="dropdown-item" [routerLink]="['/listproduct','typeSearch' , 3 , 1 ,'Mua bán', 'Biệt thự']" data-toggle="dropdown">Biệt thự</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch',12 , 1 ,'Mua bán', 'Biệt thự','Biệt thự nghỉ dưỡng']">Biệt thự nghỉ dưỡng</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 13 , 1 ,'Mua bán', 'Biệt thự','Biệt thự đơn lập']">Biệt thự đơn lập</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 14 , 1 ,'Mua bán', 'Biệt thự','Biệt thự song lập']">Biệt thự song lập</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 15 , 1 ,'Mua bán', 'Biệt thự','Biệt thự tứ lập']">Biệt thự tứ lập</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/listproduct','postTypeSearch', 2 , 'Cho thuê']" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cho thuê</a>
                <div class="dropdown-menu multi-level">
                    <div class="dropdown-submenu">
                        <a href="#" class="dropdown-item" data-toggle="dropdown">Căn hộ</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 1 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ trung cấp']">Căn hộ trung cấp</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 2 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ cao cấp']">Căn hộ cao cấp</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 3 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Penthouse']">Căn hộ Penthouse</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 4 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Duplex']">Căn hộ Duplex</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 5 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Skyvillar']">Căn hộ Skyvillar</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 6 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Loft-House']">Căn hộ Loft-House</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 7 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Studio']">Căn hộ Studio</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 8 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Condotel']">Căn hộ giá rẻ</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 18 , 2 ,'Cho thuê', 'Căn hộ','Căn hộ Mini']">Căn hộ mini</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <a [routerLink]="['/listproduct','typeSearch', 2 , 2 ,'Cho thuê', 'Căn hộ']" class="dropdown-item" data-toggle="dropdown">Nhà</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 9 , 2 ,'Cho thuê', 'Nhà','Nhà riêng']">Nhà riêng</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 10 , 2 ,'Cho thuê', 'Nhà','Nhà mặt phố']">Nhà mặt phố</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 11 , 2 ,'Cho thuê', 'Nhà','Nhà Shophouse']">Shophouse</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <a [routerLink]="['/listproduct','typeSearch', 3 , 2 ,'Cho thuê', 'Căn hộ' ]" class="dropdown-item" data-toggle="dropdown">Biệt thự</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 12 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự nghỉ dưỡng']">Biệt thự nghỉ dưỡng</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 13 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự đơn lập']">Biệt thự đơn lập</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 14 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự song lập']">Biệt thự song lập</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 15 , 2 ,'Cho thuê', 'Biệt thự','Biệt thự tứ lập']">Biệt thự tứ lập</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <a [routerLink]="['/listproduct','typeSearch', 4 , 2 ,'Cho thuê', 'Căn hộ' ]" class="dropdown-item" data-toggle="dropdown">Văn phòng</a>
                        <!-- Level 2 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 16 , 2 ,'Cho thuê', 'Văn phòng','Văn phòng Officetel']">Văn phòng Officetel</a>
                            <a class="dropdown-item" [routerLink]="['/listproduct','typeChildSearch', 17 , 2 ,'Cho thuê', 'Văn phòng','Văn phòng Co-Working Space']">Co-Working Space</a>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                        <a [routerLink]="['/listproduct','typeSearch', 5 , 2 ,'Cho thuê', 'Nhà trọ' ]" class="dropdown-item">Nhà trọ</a>
                    </div>
                </div>
            </li>
            <li>
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tiện ích
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="[ '/fengshui']">Xem phong thuỷ</a>
                    <a class="dropdown-item" [routerLink]="[ '/law']">Thư viện pháp luật</a>
                    <a class="dropdown-item" [routerLink]="[ '/law']">Câu hỏi thường gặp</a>
                </div>
            </li>
            <li><a class="nav-link" [routerLink]="[ '/news']">Tin tức</a></li>
            <li><a class="nav-link" [routerLink]="[ '/review']">Diễn đàn</a></li>
        </ul>
    </div>

</header>
