<header>
    <div class="col-md-12 p-0">
        <nav class="navbar navbar-expand-lg navbar-default bg-faded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                      </button>
            <div class="col-md-2 ml-0">
                <span class="navbar-brand px-3" href="#">
                                <img width="35" height="35" src="/content/img/600px-Godot_icon.svg.png" class="d-inline-block align-top" alt=""> BĐS
                            </span>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <!-- <div class="col-md-7"> -->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="[ '']">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mua bán</a>
                        <div class="dropdown-menu multi-level">
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Căn hộ</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Căn hộ trung cấp</a>
                                    <a class="dropdown-item" href="#">Căn hộ cao cấp</a>
                                    <a class="dropdown-item" href="#">Căn hộ Penthouse</a>
                                    <a class="dropdown-item" href="#">Căn hộ Duplex</a>
                                    <a class="dropdown-item" href="#">Căn hộ Skyvillar</a>
                                    <a class="dropdown-item" href="#">Căn hộ Loft-House</a>
                                    <a class="dropdown-item" href="#">Căn hộ Studio</a>
                                    <a class="dropdown-item" href="#">Căn hộ Condotel</a>
                                    <a class="dropdown-item" href="#">Căn hộ Officetel</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Nhà</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Nhà riêng</a>
                                    <a class="dropdown-item" href="#">Nhà mặt phố</a>
                                    <a class="dropdown-item" href="#">Shophouse</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Biệt thự</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Biệt thự nghỉ dưỡng</a>
                                    <a class="dropdown-item" href="#">Biệt thự đơn lập</a>
                                    <a class="dropdown-item" href="#">Biệt thự song lập</a>
                                    <a class="dropdown-item" href="#">Biệt thự tứ lập</a>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Cho thuê</a>
                        <div class="dropdown-menu multi-level">
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Căn hộ</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Căn hộ trung cấp</a>
                                    <a class="dropdown-item" href="#">Căn hộ cao cấp</a>
                                    <a class="dropdown-item" href="#">Căn hộ Penthouse</a>
                                    <a class="dropdown-item" href="#">Căn hộ Duplex</a>
                                    <a class="dropdown-item" href="#">Căn hộ Skyvillar</a>
                                    <a class="dropdown-item" href="#">Căn hộ Loft-House</a>
                                    <a class="dropdown-item" href="#">Căn hộ Studio</a>
                                    <a class="dropdown-item" href="#">Căn hộ Condotel</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Nhà</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Nhà riêng</a>
                                    <a class="dropdown-item" href="#">Nhà mặt phố</a>
                                    <a class="dropdown-item" href="#">Shophouse</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Biệt thự</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Biệt thự nghỉ dưỡng</a>
                                    <a class="dropdown-item" href="#">Biệt thự đơn lập</a>
                                    <a class="dropdown-item" href="#">Biệt thự song lập</a>
                                    <a class="dropdown-item" href="#">Biệt thự tứ lập</a>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <a href="#" class="dropdown-item" data-toggle="dropdown">Văn phòng</a>
                                <!-- Level 2 -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Văn phòng Officetel</a>
                                    <a class="dropdown-item" href="#">Co-Working Space</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tiện ích
                            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Xem phong thuỷ</a>
                            <a class="dropdown-item" [routerLink]="[ '/law']">Thư viện pháp luật</a>
                            <a class="dropdown-item" href="#">Câu hỏi thường gặp</a>
                            <a class="dropdown-item" href="#">BXH người dùng uy tín</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/news']">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/review']">Diễn đàn</a>
                    </li>
                </ul>
                <label *ngIf="index == 1" href="#" (click)="open(content)">
                                Đăng nhập
                        </label>
                <div uib-dropdown class="dropdown" *ngIf="index == 0">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button> -->
                    <label class="dropdown-toggle" *ngIf="index == 0" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Username
                                </label>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="[ '/usermanage']">Quản lí tài khoản</a>
                        <a class="dropdown-item" [routerLink]="[ '/notification']">Thông báo</a>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </div>

                <ng-template #content let-modal>
                    <div class="modal-body">
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                        <app-login></app-login>
                    </div>
                </ng-template>
                <button type="button" class="btn btn-outline-primary" [routerLink]="[ '/postproduct']">Đăng tin</button>
            </div>
        </nav>
    </div>
</header>