<div class="container-fluid mt-2 m-0 p-0">
    <div class="grey lighten-3">

        <!--Main Navigation-->
        <div class="row col-md-12">

            <!-- Sidebar -->
            <div class="sidebar-fixed col-md-3 mb-2">

                <div class="list-group list-group-flush">
                    <h5 class="list-group-item active waves-effect">
                        <i class="fas fa-tasks mr-3"></i>Quản lí tài khoản
                    </h5>
                    <a [routerLink]="['/usermanage']" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-user mr-3"></i>Thông tin cá nhân</a>
                    <a [routerLink]="['/manage-product']" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-table mr-3"></i>Quản lí bài đăng mua bán</a>
                    <a [routerLink]="['/manage-review']" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-map mr-3"></i>Quản lí bài đăng review/câu hỏi</a>
                    <a [routerLink]="['/notification']" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Thông báo</a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Đăng xuất</a>
                </div>

            </div>
            <!-- Sidebar -->
            <!--Main layout-->
            <div class="col-md-9 float-right">
                <div *ngIf="showLoadingIndicator" class="lds-hourglass"></div>
                <router-outlet></router-outlet>
            </div>

            <!--Main layout-->
        </div>
        <!--Main Navigation-->
    </div>
</div>
