<div class="container-fluid m-0 d-inline-flex align-self-center justify-content-center">
    <div class="row pt-5">
        <div class="col-md-12 pt-5">
            <div class="error-template pt-5">
                <h1>
                    Có lỗi!</h1>
                <h2>
                    Không tìm thấy trang này</h2>
                <div class="error-details">
                    Xin lỗi, có lỗi xảy ra, Yêu cầu không tìm thấy!
                </div>
                <div class="error-actions">
                    <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Về trang chủ </a><a [routerLink]="['/home']"  class="btn btn-secondary btn-lg"><span class="glyphicon glyphicon-envelope"></span> Hỗ trợ </a>
                </div>
            </div>
        </div>
    </div>
</div>
