<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bc-icons-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">BĐS</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Thứ viện pháp luật</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active">Mẫu hợp đồng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-left py-1">
            <h3>Mẫu hợp đồng</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="news-content d-flex justify-content-center">
                                            <div class="content-left">
                                                <div class="item">
                                                    <h5 class="txt-contract p-3 mb-2 bg-info text-white">MUA BÁN</h5>
                                                    <ul>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-mua-ban-can-ho-nha-chung-cu.doc" title="Hợp đồng mua bán căn hộ, nhà chung cư ">
                                                                            Hợp đồng mua bán căn hộ, nhà chung cư
                                                                            <i id="idown" class="fas fa-download"></i>
                                                        </a>

                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-mua-ban-tai-san-GLVD.doc" title="Hợp đồng mua bán tài sản gắn liền với đất">
                                                                            Hợp đồng mua bán tài sản gắn liền với đất
                                                                            <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-chuyen-nhuong-QSDD.doc" title="Hợp đồng chuyển nhượng quyền sử dụng đất">
                                                                            Hợp đồng chuyển nhượng quyền sử dụng đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-chuyen-nhuong-QSDD.doc" title="Hợp đồng chuyển nhượng quyền sử dụng đất và tài sản gắn liền với đất">
                                                                            Hợp đồng chuyển nhượng quyền sử dụng đất và tài sản gắn liền với đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-chuyen-nhuong-QSDD-va-tai-san-GLVD.doc" title="Hợp đồng chuyển đổi quyền sử dụng đất nông nghiệp của hộ gia đình, cá nhân">Hợp đồng chuyển đổi quyền sử dụng đất nông nghiệp của hộ gia đình, cá nhân
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-tang-cho-can-ho-nha-chung-cu.doc" title="Hợp đồng tặng cho căn hộ, nhà chung cư ">
                                                                            Hợp đồng tặng cho căn hộ, nhà chung cư
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-tang-cho-tai-san-GLVD.doc" title="Hợp đồng tặng cho tài sản gắn liền với đất">Hợp đồng tặng cho tài sản gắn liền với đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-tang-cho-QSDD.doc" title="Hợp đồng tặng cho quyền sử dụng đất">Hợp đồng tặng cho quyền sử dụng đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-tang-cho-QSDD-va-tai-san-GLVD.doc" title="Hợp đồng tặng cho quyền sử dụng đất và tài sản gắn liền với đất">
                                                                            Hợp đồng tặng cho quyền sử dụng đất và tài sản gắn liền với đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                                <div class="item">
                                                    <h5 class="txt-contract p-3 mb-2 bg-info text-white">CHO THUÊ</h5>
                                                    <ul>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-thue-can-ho-nha-chung-cu.doc" title="Hợp đồng thuê căn hộ, nhà chung cư">
                                                                            Hợp đồng thuê căn hộ, nhà chung cư
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-thue-QSDD-va-tai-san-GLVD.doc" title="Hợp đồng thuê quyền sử dụng đất và tài sản gắn liền với đất">Hợp đồng thuê quyền sử dụng đất và tài sản gắn liền với đất 
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-thue-quyen-su-dung-dat.doc" title="Hợp đồng thuê quyền sử dụng đất">
                                                                            Hợp đồng thuê quyền sử dụng đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-thue-tai-san-GLVD.doc" title="Hợp đồng thuê tài sản gắn liền với đất">
                                                                            Hợp đồng thuê tài sản gắn liền với đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>

                                                    </ul>

                                                </div>
                                                <div class="item">
                                                    <p class="txt-contract p-3 mb-2 bg-info text-white">HƯỚNG DẪN</p>
                                                    <ul>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Huong-dan-su-dung-cac-mau-hop-dong.doc" title="Hướng dẫn sử dụng mẫu hợp đồng">
                                                                            Hướng dẫn sử dụng mẫu hợp đồng
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Huong-dan-su-dung-cac-mau-van-ban.doc" title="Hướng dẫn sử dụng mẫu văn bản">Hướng dẫn sử dụng mẫu văn bản
                                                                <i id="idown" class="fas fa-download"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Phieu-yeu-cau-cong-chung-HD-VB.doc" title="Phiếu yêu cầu công chứng hợp đồng, văn bản">
                                                                            Phiếu yêu cầu công chứng hợp đồng, văn bản
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-uy-quyen.doc" title="Hợp đồng ủy quyền">
                                                                            Hợp đồng ủy quyền
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>

                                                    </ul>

                                                </div>
                                                <div class="item">
                                                    <p class="txt-contract p-3 mb-2 bg-info text-white">KHÁC</p>
                                                    <ul>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Van-ban-tu-choi-nhan-tai-san-thua-ke.doc" title="Văn bản từ chỗi nhận tài sản thừa kế">
                                                                            Văn bản từ chỗi nhận tài sản thừa kế
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Van-ban-nhan-tai-san-thua-ke.doc" title="Văn bản nhận tài sản thừa kế">Văn bản nhận tài sản thừa kế
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Van-ban-phan-chia-tai-san-thua-ke.doc" title="Văn bản phân chia tài sản thừa kế">
                                                                            Văn bản phân chia tài sản thừa kế
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/Di-chuc.doc" title="Di chúc">
                                                                            Di chúc
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-the-chap-can-ho-nha-chung-cu.doc" title="Hợp đồng góp vốn bằng căn hộ, nhà chung cư">Hợp đồng góp vốn bằng căn hộ, nhà chung cư
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-gop-von-bang-QSDD.doc" title="Hợp đồng góp vốn bằng quyền sử dụng đất">
                                                                            Hợp đồng góp vốn bằng quyền sử dụng đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-gop-von-bang-QSDD-va-tai-san-GLVD.doc" title="Hợp đồng góp vốn bằng quyền sử dụng đất và tài sản gắn liền với đất">
                                                                            Hợp đồng góp vốn bằng quyền sử dụng đất và tài sản gắn liền với đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-the-chap-can-ho-nha-chung-cu.doc" title="Hợp đồng thế chấp căn hộ, nhà chung cư">Hợp đồng thế chấp căn hộ, nhà chung cư
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-the-chap-tai-san-GLVD.doc" title="Hợp đồng thế chấp tài sản gắn liền với đất">Hợp đồng thế chấp tài sản gắn liền với đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                            <span class="title-down"></span>
                                                            <a class="text-contract" href="/content/document/HD-the-chap-QSDD.doc" title="Hợp đồng thế chấp quyền sử dụng đất">Hợp đồng thế chấp quyền sử dụng đất
                                                                        <i id="idown" class="fas fa-download"></i>
                                                        </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-see-more px-5">
                                        <h5>Xem thêm</h5>
                                        <ul style="list-style: none;">
                                            <li>
                                                <a class="text-more " style="color: cadetblue;" [routerLink]="[ '/lawsell' ]" title="Quy trình mua bán - Chuyển nhượng nhà đất">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Quy trình mua bán - Chuyển nhượng nhà đất</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-more" style="color: cadetblue;" [routerLink]="[ '/lawrent' ]" title="Câu hỏi thường gặp">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Quy trình cho thuê </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card" style="background-color: none ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="m-0">
                                        <a [routerLink]="[ '/law' ]"><i class="fas fa-question-circle"></i>Câu hỏi thường gặp</a>

                                    </h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Văn bản luật quy định về BĐS</h5>
                        </div>
                        <div class="card-body">
                            <div class="row col-md-12">
                                <h5 style="font-weight: bold">Quy định chung</h5>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" href="https://thuvienphapluat.vn/van-ban/Bat-dong-san/Luat-Nha-o-2014-259721.aspx" target="_blank" rel="nofollow" title="Luật nhà ở 2014 (65/2014/QH13)">Luật nhà ở 2014 (65/2014/QH13)</a>

                                </h6>
                            </div>
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul>
                                        <li>
                                            <a href="https://www.tracuuphapluat.info/2016/05/nghi-dinh-99-2015-huong-dan-luat-nha-o.html" rel="nofollow" target="_blank" title="Hướng dẫn luật nhà ở 99/2015/NĐ-CP" class="txt-text">Hướng dẫn luật nhà ở 99/2015/NĐ-CP</a>

                                        </li>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;mode=detail&amp;document_id=196627" target="_blank" rel="nofollow" class="txt-text" title="Nghị định 30/2019/NĐ-CP sửa đổi Nghị định 99/2015/NĐ-CP hướng dẫn luật nhà ở">Nghị định 30/2019/NĐ-CP sửa đổi Nghị định 99/2015/NĐ-CP hướng dẫn luật nhà ở</a>

                                        </li>
                                        <li>
                                            <a href="https://www.tracuuphapluat.info/2016/09/thong-tu-19-2016-bxd-huong-dan-luat-nha-o.html" target="_blank" rel="nofollow" class="txt-text" title="Thông tư 19/2016/TT-BXD hướng dẫn thực hiện Luật Nhà ở">Thông tư 19/2016/TT-BXD hướng dẫn thực hiện Luật Nhà ở</a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://thuvienphapluat.vn/van-ban/Bat-dong-san/Luat-dat-dai-2013-215836.aspx" target="_blank" rel="nofollow" title="Luật đất đai 2013 (45/2013/QH13)">Luật đất đai 2013 (45/2013/QH13)</a>

                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://thuvienphapluat.vn/van-ban/Thuong-mai/Luat-Kinh-doanh-bat-dong-san-2014-259722.aspx" target="_blank" rel="nofollow" title="Luật kinh doanh BĐS 2014 (66/2014/QH13)">Luật kinh doanh BĐS 2014 (66/2014/QH13)</a>
                                </h6>
                            </div>
                            <hr>
                            <div class="row col-md-12">
                                <h5 style="font-weight: bold">Các quy định, bộ luật khác</h5>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" title="Luật thuế thu nhập các nhân 2007 (04/2007/QH12)" rel="nofollow" target="_blank" href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=51258">Luật thuế thu nhập các nhân 2007 (04/2007/QH12)</a>
                                </h6>
                            </div>
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?_page=1&amp;class_id=1&amp;document_id=164952&amp;mode=detail" target="_blank" rel="nofollow" title="Luật thuế cá nhân sửa đổi 2012 (26/2012/QH13)" class="txt-text ">Luật thuế cá nhân sửa đổi 2012 (26/2012/QH13)</a>
                                        </li>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=178140" target="_blank" rel="nofollow" class="txt-text " title="Luật thuế cá nhân sửa đổi 2014 (71/2014/QH13)">Luật thuế cá nhân sửa đổi 2014 (71/2014/QH13)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;mode=detail&amp;document_id=96038" target="_blank" rel="nofollow" title="Luật thuế sử dụng đất phi nông nghiệp 2012 (48/2010/QH12)">Luật thuế sử dụng đất phi nông nghiệp 2012 (48/2010/QH12)</a>
                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://www.tracuuphapluat.info/2016/05/nghi-dinh-100-2015-phat-trien-nha-o-xa-hoi.html" target="_blank" rel="nofollow" title="Nghị định 100/2015/NĐ-CP về phát triển và quản lý nhà ở xã hội">Nghị định 100/2015/NĐ-CP về phát triển và quản lý nhà ở xã hội</a>
                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://www.tracuuphapluat.info/2011/04/toan-van-quyet-inh-2127q-ttg-phe-duyet.html" target="_blank" rel="nofollow" title="Chiến lược phát triển nhà ở quốc gia đến năm 2020 và tầm nhìn đến năm 2030 (2127/QĐ-TTG)">Chiến lược phát triển nhà ở quốc gia đến năm 2020 và tầm nhìn đến năm 2030 (2127/QĐ-TTG)</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>