<style>
    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>
<div class="container-fluid mt-4">
    <div class="grey lighten-3">

        <!--Main Navigation-->
        <div class="col-md-12">

            <!-- Sidebar -->
            <div class="col-md-3 float-left mb-5">

                <div class="list-group list-group-flush">
                    <a class="list-group-item active waves-effect">
                        <i class="fas fa-chart-pie mr-3"></i>Quản lí chung
                    </a>
                    <a [routerLink]="['/admin']" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-user mr-3"></i>Quản lí người dùng</a>
                    <a [routerLink]="['/manageallproductpost']" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-map mr-3"></i>Quản lí bài đăng</a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Quản lí bài review</a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Quản lí tin tức</a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Danh sách người dùng đang online</a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Thông báo</a>
                    <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Đăng xuất</a>
                </div>

            </div>
            <!-- Sidebar -->
            <!--Main layout-->
            <div class="col-md-9 float-right">
                    <!--Card content-->
            <app-ng7-dynamic-breadcrumb [bgColor]="breadcrumbConfig['bgColor']" [fontSize]="breadcrumbConfig['fontSize']" [fontColor]="breadcrumbConfig['fontColor']" [lastLinkColor]="breadcrumbConfig['lastLinkColor']" [symbol]="breadcrumbConfig['symbol']">Quản lí chung</app-ng7-dynamic-breadcrumb>
                <router-outlet></router-outlet>
            </div>
            <!--Main layout-->
        </div>
        <!--Main Navigation-->

    </div>
</div>
