<div class="container-fluid col-md-12" style="margin-top: 9%; margin-bottom: 10%;">
    <div class="d-flex justify-content-center">
        <div class="col-sm-5 col-md-5 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <h5 class="card-title text-center">Đăng ký</h5>
                    <div class="row justify-content-center">

                        <div class="alert alert-success" *ngIf="success">
                            <strong>Đăng kí thành công!</strong> Vui lòng kiểm tra email của bạn để kích hoạt tài khoản.
                        </div>

                        <div class="alert alert-danger" *ngIf="error">
                            <strong>Đăng kí thất bại!</strong> Vui lòng thử lại.
                        </div>

                        <div class="alert alert-danger" *ngIf="errorUserExists">
                            <strong>Tên tài khoản đã tồn tại!</strong> Vui lòng chọn tên khác.
                        </div>

                        <div class="alert alert-danger" *ngIf="errorEmailExists">
                            <strong>Email đã tồn tại!</strong> Vui lòng chọn email khác.
                        </div>

                        <div class="alert alert-danger" *ngIf="doNotMatch">
                            Mật khẩu và Mật khẩu xác nhận không khớp nhau!
                        </div>

                    </div>
                    <!-- Default form register -->
                    <form class="text-left" name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                        <!-- First Name -->
                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- First name -->
                                    <label class="form-control-label" for="firstName">Họ</label>
                                    <input formControlName="firstName" type="text" id="firstName" name="firstName" class="form-control" placeholder="Họ" onkeypress='return !(event.charCode >= 33 && event.charCode <= 64 | event.charCode >= 91 && event.charCode <= 96 | event.charCode >= 123 && event.charCode <= 126)'
                                        required>
                                    <div *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">
                                        <small class="form-text text-danger" *ngIf="registerForm.get('firstName').errors.required">
                                                    Họ không được để trống.
                                                </small>
                                        <!-- <small class="form-text text-danger" *ngIf="registerForm.get('firstName').errors.pattern">
                                                    Họ chỉ chứa chữ
                                                </small> -->
                                        <small class="form-text text-danger" *ngIf="registerForm.get('firstName').errors.minlength">
                                                    Họ it nhất có 1 một kí tự.
                                                </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('firstName').errors.maxlength">
                                                    Họ dài  nhất có 50 kí tự.
                                                </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Last name -->
                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <label class="form-control-label" for="lastName">Tên</label>
                                    <input type="text" formControlName="lastName" id="lastName" name="lastName" class="form-control" placeholder="Tên" onkeypress='return !(event.charCode >= 33 && event.charCode <= 64 | event.charCode >= 91 && event.charCode <= 96 | event.charCode >= 123 && event.charCode <= 126)'
                                        required>
                                    <div *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">
                                        <small class="form-text text-danger" *ngIf="registerForm.get('lastName').errors.required">
                                                    Tên không được để trống.
                                                </small>
                                        <!-- <small class="form-text text-danger" *ngIf="registerForm.get('lastName').errors.pattern">
                                                    Tên chỉ chứa chữ
                                                </small> -->
                                        <small class="form-text text-danger" *ngIf="registerForm.get('lastName').errors.minlength">
                                                    Tên it nhất có 1 một kí tự.
                                                </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('lastName').errors.maxlength">
                                                    Tên dài nhất có 50 kí tự.
                                                </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- login name -->
                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <label class="form-control-label" for="login">Tên tài khoản</label>
                                    <input type="text" formControlName="login" id="login" name="login" class="form-control" placeholder="Tên tài khoản" required>
                                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
                                                        Tên tài khoản không được để trống.
                                                    </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength">
                                                        Tên tài khoản ít nhất có 1 kí tự.
                                                    </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength">
                                                        Tên tài khoản dài nhất có 50 một kí tự.
                                                </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern">
                                                        Tên tài khoản chỉ có thể chứa các chữ cái và chữ số.
                                                </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- E-mail -->
                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <label class="form-control-label" for="email">Email</label>
                                    <input type="email" formControlName="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required">
                                                            Email không được để trống.
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.pattern">
                                                            Email không đúng định dạng: name@email.com
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength">
                                                              Email it nhất có 6 một kí tự.
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength">
                                                              Email dài nhất có 50 kí tự.
                                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <div class="form-row mb-2">
                                <div class="col">
                                    <label class="form-control-label" for="password">Mật khẩu</label>
                                    <show-hide-password btnStyle="secondary" [btnOutline]="false">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" formControlName="password" required>
                                    </show-hide-password>
                                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required">
                                                            Mật khẩu không được để trống.
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength">
                                                            Mật khẩu it nhất có 6 kí tự.
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength">
                                                        Mật khẩu dài nhất có 50 kí tự.
                                                        </small>
                                    </div>
                                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                                </div>
                            </div>
                        </div>
                        <!-- xác nhận mật khẩu -->
                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu</label>
                                    <show-hide-password btnStyle="secondary" [btnOutline]="false">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" formControlName="confirmPassword" required>
                                    </show-hide-password>
                                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required">
                                                            Xác nhận mật khẩu không được để trống.
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength">
                                                            Xác nhận mật khẩu it nhất có 6 kí tự.
                                                        </small>
                                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength">
                                                            Xác nhận mật khẩu dài nhất có 50 kí tự.
                                                        </small>
                                    </div>
                                    <small class="form-text text-danger" *ngIf="registerForm.errors?.invalid && registerForm.get('confirmPassword').touched">
                                        Mật khẩu không khớp.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row mb-4">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="confirm">
                                                        <input class="form-check-input" type="checkbox" name="confirm" id="confirm" formControlName="confirm" required>
                                                        <span>Tôi đồng ý với các <a  class="text-italic text-primary" data-toggle="modal" data-target="#exampleModal">điều khoản</a>.</span>
                                                        <div *ngIf="registerForm.get('confirm').invalid && (registerForm.get('confirm').dirty || registerForm.get('confirm').touched)">
                                                            <small class="form-text text-danger" *ngIf="registerForm.get('confirm').errors.required">
                                                                                Bạn cần xác nhận các điều khản để có thể đăng kí.
                                                                            </small>
                                                        </div>
                                                        <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                        <h5 class="modal-title text-center font-weight-bold text-uppercase" id="exampleModalLabel">Điều khoản sử dụng</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                        </div>
                                                                        <div class="modal-body" style="text-align: justify;">
                                                                                Website/App REBS là tài sản của Công ty Cổ phần REBS (Tên viết bằng tiếng nước ngoài là: REBS Corporation, viết tắt là: REBS Corp.).

                                                                                REBS mang đến cho người dùng một trải nghiệm hoàn hảo về việc tìm kiếm thông tin trong lĩnh vực Bất động sản: “Tìm kiếm dễ dàng- Lựa chọn đa dạng- Kết quả tin cậy”.

                                                                                Người dùng khi đến với REBS sẽ luôn có được những thông tin cập nhật, đầy đủ, chính xác nhất về thị trường Bất động sản trong nước cũng như quốc tế; từ thông tin chi tiết về các loại hình Bất động sản, tình hình thị trường, xu hướng mua bán, giá cả…

                                                                                REBS hướng đến Trở thành Cổng thông tin hàng đầu về Bất động sản trên Internet & Mobile tại thị trường Việt Nam & Quốc tế.

                                                                                REBS đóng vai trò trung gian trong hoạt động quảng cáo/tiếp thị Bất động sản của khách hàng.

                                                                                REBS là tên gọi duy nhất của website REBS

                                                                                Cá nhân, đơn vị được coi như thành viên của REBS sau khi đăng ký và được cấp tài khoản thành viên tại REBS.

                                                                                Cá nhân/thành viên được lựa chọn và sử dụng các gói đăng tin, marketing tương ứng với sự lựa chọn và giao dịch trước đó.

                                                                                Các thành viên, khách hàng của REBS khi truy cập Website phải tuân thủ “Bảo mật thông tin” và “Quy định sử dụng” của REBS.
                                                                        </div>
                                                                        <div class="modal-footer text-right">
                                                                                REBS Corporation
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                    </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Sign up button -->
                        <button class="btn btn-info my-4 btn-block" type="submit" [disabled]="registerForm.invalid">Đăng ký</button>
                        <hr>

                        <!-- Terms of service -->
                        <p class="text-center">Khi bạn nhấn
                            <em>đăng ký</em>, bạn đồng ý với chúng tôi về
                            <a class="text-primary" data-toggle="modal" data-target="#exampleModal" target="_blank">điều khoản dịch vụ</a>

                    </form>
                    <!-- Default form register -->
                </div>
            </div>
        </div>
    </div>
</div>