<div class="container">
    <div class="row mb-2">
        <div class="col-12 text-left pt-3">
            <h2>
                <a href="#">Tin tức</a></h2>
        </div>
    </div>

    <!--Start code-->
    <div class="row">
        <div class="col-12 pb-5">
            <!--SECTION START-->
            <section class="row">
                <!--Start slider news-->
                <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                    <div id="featured" class="carousel slide carousel" data-ride="carousel">
                        <!--dots navigate-->
                        <!-- <ol class="carousel-indicators top-indicator">
                            <li data-target="#featured" data-slide-to="0" class="active"></li>
                            <li data-target="#featured" data-slide-to="1"></li>
                            <li data-target="#featured" data-slide-to="2"></li>
                            <li data-target="#featured" data-slide-to="3"></li>
                        </ol> -->

                        <!--carousel inner-->
                        <div class="carousel-inner">
                            <!--Item slider-->
                            <div class="carousel-item active" *ngFor="let item of listNewsFirstElement">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">

                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a [routerLink]="[ '/news', item.id , 'detail' ]">
                                                <!-- <img class="img-fluid w-100" src="https://bootstrap.news/source/img1.jpg" alt="Image description"> -->
                                                <img class="img-fluid w-100" *ngIf="item.imageUrl !== null" src="{{imageUrl}}{{item.imageUrl}}" style="height: 370px;" alt="Image description">
                                                <img class="img-fluid w-100" *ngIf="item.imageUrl === null" src="../../../../content/img/default-image.jpg" alt="Image description">
                                            </a>
                                        </div>
                                        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                            <!--title-->
                                            <a [routerLink]="[ '/news', item.id , 'detail' ]">
                                                <h2 class="h3 post-title text-white my-1">{{item.title}}</h2>
                                            </a>
                                            <!-- meta title -->
                                            <div class="news-meta">
                                                <p class="news-date">Ngày đăng: {{item.createdDate | date:'HH:mm dd/MM/yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item slider-->
                            <!-- <div class="carousel-item">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">

                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                <img class="img-fluid w-100" src="https://bootstrap.news/source/img2.jpg" alt="Image description">
                                            </a>
                                        </div>
                                        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                <h2 class="h3 post-title text-white my-1">Walmart shares up 10% on online sales lift</h2>
                                            </a>

                                            <div class="news-meta">
                                                <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                <span class="news-date">Oct 22, 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!--Item slider-->
                            <!-- <div class="carousel-item">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">

                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                <img class="img-fluid w-100" src="https://bootstrap.news/source/img3.jpg" alt="Image description">
                                            </a>
                                        </div>
                                        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                <h2 class="h3 post-title text-white my-1">Bank chief warns on Brexit staff moves to other company</h2>
                                            </a>

                                            <div class="news-meta">
                                                <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                <span class="news-date">Oct 22, 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!--Item slider-->
                            <!-- <div class="carousel-item">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">

                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                <img class="img-fluid w-100" src="https://bootstrap.news/source/img4.jpg" alt="Image description">
                                            </a>
                                        </div>
                                        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                <h2 class="h3 post-title text-white my-1">The world's first floating farm making waves in Rotterdam</h2>
                                            </a>

                                            <div class="news-meta">
                                                <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                <span class="news-date">Oct 22, 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--end item slider-->
                        </div>
                        <!--end carousel inner-->
                    </div>

                    <!--navigation-->
                    <!-- <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                </div>
                <!--End slider news-->

                <!--Start box news-->
                <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                    <div class="row">
                        <!--news box-->
                        <div class="col-6 pb-1 pt-0 pr-1" *ngFor="let item of list4NewsLastElement">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a [routerLink]="[ '/news', item.id , 'detail' ]">
                                            <!-- <img class="img-fluid" src="https://bootstrap.news/source/img5.jpg" alt="Image description"> -->
                                            <img class="img-fluid img-slide" *ngIf="item.imageUrl !== null" src="{{imageUrl}}{{item.imageUrl}}" alt="Image description">
                                            <img class="img-fluid img-slide" *ngIf="item.imageUrl === null" src="../../../../content/img/default-image.jpg" alt="Image description">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!-- category -->
                                        <!-- <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a> -->

                                        <!--title-->
                                        <a [routerLink]="[ '/news', item.id , 'detail' ]">
                                            <h2 class="h5 text-white my-1">{{item.title}}</h2>
                                        </a>
                                        <p class="text-light">Ngày đăng: {{item.createdDate | date:'HH:mm dd/MM/yyyy'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <!-- <div class="col-6 pb-1 pl-1 pt-0">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">

                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid" src="https://bootstrap.news/source/img6.jpg" alt="Image description">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                        <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Motocross</a>

                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">ABC</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!--news box-->
                        <!-- <div class="col-6 pb-1 pr-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">

                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid" src="https://bootstrap.news/source/img7.jpg" alt="Image description">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                        <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Fitness</a>

                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Finding Empowerment in Two Wheels and a Helmet</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!--news box-->
                        <!-- <div class="col-6 pb-1 pl-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">

                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid" src="https://bootstrap.news/source/img8.jpg" alt="Image description">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                        <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Adventure</a>

                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h5 text-white my-1">Ditch receipts and four other tips to be a shopper</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!--end news box-->
                    </div>
                </div>
                <!--End box news-->
            </section>
            <!--END SECTION-->
        </div>
    </div>
    <!--end code-->

    <div class="row" style=" margin-top: -26px;">
        <div class="col-md-12 pr-0">
            <div class="row mb-2" *ngFor="let item of listNews | paginate: config">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 mt-4">
                                    <img *ngIf="item.imageUrl !== null" src="{{imageUrl}}{{item.imageUrl}}" class="img-thumbnail rounded float-left mx-auto d-block" style="height: 150px; width: 400px;" alt="Responsive image">
                                    <img *ngIf="item.imageUrl === null" src="../../../../content/img/default-image.jpg" class="img-thumbnail rounded  mx-auto d-block" style="height: 150px; width: 400px;" alt="Responsive image">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <div class="news-content">
                                            <a [routerLink]="[ '/news', item.id , 'detail' ]">
                                                <h2>{{item.title}}</h2>
                                            </a>
                                            <p>{{item.decription}}</p>

                                        </div>
                                        <div class="news-footer">
                                            <div class="news-author">
                                                <ul class="list-inline list-unstyled">
                                                    <li class="list-inline-item text-secondary">
                                                        <i class="fa fa-user"></i> {{item.createdBy}}
                                                    </li>
                                                    <!-- <li class="list-inline-item text-secondary">
                                                        <i class="fa fa-eye"></i> 110 Views
                                                    </li> -->
                                                    <li class="list-inline-item text-secondary">
                                                        <i class="fa fa-calendar"></i> {{item.createdDate | date:'HH:mm dd/MM/yyyy'}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="" *ngIf="listNews.length !== 0" class="mt-2">
                <ul class="pagination pg-blue justify-content-end">
                    <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" (pageChange)="pageChanged($event)"></pagination-controls>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
</script>