<div class="container-small my-5 px-4 mx-0 col-md-12 new panding-top">
    <div class="col-md-12 px-0 ">
        <h3 class="text-uppercase font-weight-bold"><a [routerLink]="[ '/news']">Tin tức</a></h3>
    </div>
    <div class="col-md-12 px-0 pb-2 mb-3 border-bottom border-white ">
        <span class="text-dark small font-italic">CẬP NHẬT CÁC THÔNG TIN MỚI NHẤT VỀ THỊ TRƯỜNG BẤT ĐỘNG SẢN
        </span>
    </div>
    <ul class="card-deck px-2 col-md-12 m-0 ">
        <li class="card p-2 mx-2 rounded " *ngFor="let item of list4News">
            <img *ngIf="item.imageUrl !== 0" class="card-img-top" src="{{imageUrl}}{{item.imageUrl}}" alt="Card image cap">
            <img *ngIf="item.imageUrl === 0" class="card-img-top" src="../../../content/img/default-image.jpg" alt="Card image cap">
            <div class="card-header p-0">
                <a [routerLink]="[ '/news', item.id , 'detail' ]">
                    <h5 class="card-title py-2 px-1 mb-1 giveMeEllipsisTitle  border-top font-weight-bold">{{item.title}}
                    </h5>
                </a>
            </div>
            <div class="card-body p-1">
                <p class="card-text p-0 my-2 giveMeEllipsis">{{item.decription}}</p>
            </div>
            <div class="card-body col-md-12 px-0 pt-3 pb-0 border-top d-flex justify-content-end align-content-end" style="white-space: normal;">
                <a (click)="goToNews(item.id)" class="btn blue-gradient text-light" role="button">Xem thêm</a>
            </div>
        </li>
    </ul>
</div>