<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bc-icons-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">BĐS</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Thứ viện pháp luật</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active">Danh sách văn phòng công chứng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-left py-1">
            <h3>Danh sách văn phòng công chứng</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="news-content d-flex justify-content-center">
                                            <div class="content-left">
                                                <div class="item">
                                                    <h5 class="txt-contract p-3 mb-2 bg-info text-white">TP.Hồ Chí Minh</h5>
                                                    <ul>
                                                        <span class="title-down"></span>
                                                        <span class="text-contract" style="font-weight: bold;"><a href="https://congchung.gov.vn/" title="Phòng công chứng số 1" rel="nofollow">Phòng công chứng số 1 </a></span>
                                                        <ul>
                                                            <li class="txt-office">Địa chỉ: 97 Đường Pasteur, Phường Bến Nghé, Quận 1, TP. HCM </li>
                                                            <li class="txt-office">Điện thoại: 028 3823 0177</li>
                                                            <li class="txt-office">Email: hcm.congchung1@gmail.com</li>
                                                        </ul>

                                                        <p>
                                                            <span class="title-down"></span>
                                                            <span class="text-contract" style="font-weight: bold;"><a href="http://congchung6.gov.vn/" title="Phòng công chứng số 6" rel="nofollow">Phòng công chứng số 6 </a></span>
                                                        </p>

                                                        <ul>
                                                            <li class="txt-office">
                                                                Địa chỉ: 47A Nguyễn Văn Đậu, Phường 6, Quận Bình Thạnh, TP. HCM
                                                            </li>
                                                            <li class="txt-office">Điện thoại: 028 6297 6822</li>
                                                            <li class="txt-office">
                                                                Email: congchung6_tphcm@yahoo.com
                                                            </li>
                                                        </ul>

                                                        <div class="office-mobile">
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract" style="font-weight: bold;"><a href="http://congchungtrungtam.com.vn/" title="Phòng công chứng Trung Tâm" rel="nofollow">Phòng công chứng Trung Tâm</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 454 Nguyễn Thị Minh Khai, phường 5, quận 3, TP. HCM
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 028 62 915485, 028 62 916939
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchungtrungtam@gmail.com
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract" style="font-weight: bold;"><a href="http://congchungbennghe.vn/" title="Phòng công chứng Bến Nghé" rel="nofollow">Phòng công chứng Bến Nghé</a></span>
                                                                </p>
                                                                <ul class="office-address">
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 31 Lê Thạch, Phường 12, Quận 4, TP.Hồ Chí Minh
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 028 62.988.777
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchungbennghe@gmail.com, office@congchungbennghe.vn
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract" style="font-weight: bold;"><a href="http://www.congchunganlac.com/" title="Phòng công chứng An Lạc" rel="nofollow">Phòng công chứng An Lạc</a></span>
                                                                </p>
                                                                <ul class="office-address">
                                                                    <li class="txt-office">
                                                                        Địa chỉ: E6/12 Nguyễn Hữu Trí, thị trấn Tân Túc, huyện Bình Chánh, TP. HCM
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: (08) 38.77.77.88, (08) 38.77.77.99
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: anlac@congchunganlac.com
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract" style="font-weight: bold;"><a href="http://congchungthuduc.com/" title="Phòng công chứng Thủ Đức" rel="nofollow">Phòng công chứng Thủ Đức</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 280A19 Lương Định Của, phường An Phú, Quận 2, TP. HCM
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: (08) 3747 1310, (08) 3747 1311
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchungthuduc@gmail.com
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract" style="font-weight: bold;"><a href="http://congchungbuithixuan.com/" title="Phòng công chứng Bùi Thị Xuân" rel="nofollow">Phòng công chứng Bùi Thị Xuân</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 1272B Huỳnh Tấn Phát, Phường Phú Mỹ, Quận 7, TP. HCM
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: (08) 37 852 688
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchungbuithixuan@gmail.com
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <a href="https://sotuphap.hochiminhcity.gov.vn/documents/10194/41578/DANH%20S%C3%81CH%20C%C3%81C%20T%E1%BB%94%20CH%E1%BB%A8C%20H%C3%80NH%20NGH%E1%BB%80%20C%C3%94NG%20CH%E1%BB%A8NG.PDF" rel="nofollow" style="color: cadetblue;" class="txt-see-office font-italic"><i class="fas fa-link"></i>Xem thêm các văn phòng công chứng khác ở TP HCM ở đây</a>
                                                        </div>


                                                    </ul>

                                                </div>
                                                <div class="item">
                                                    <h5 class="txt-contract p-3 mb-2 bg-info text-white">Đà Nẵng</h5>

                                                    <ul>
                                                        <div class="office">
                                                            <p>
                                                                <span class="title-down"></span>
                                                                <span class="text-contract"><a href="http://phongcongchungso1tpdn.vn/" title="Phòng công chứng số 1" rel="nofollow">Phòng công chứng số 1 </a></span>
                                                            </p>
                                                            <ul>
                                                                <li class="txt-office">Địa chỉ: 18B Phan Đình Phùng, phường Hải Châu I, quận Hải Châu, Đà Nẵng </li>
                                                                <li class="txt-office">Điện thoại: 3820782</li>
                                                                <li class="txt-office">Email: congchung1@danang.gov.vn </li>
                                                            </ul>
                                                        </div>

                                                        <div class="office">
                                                            <p>
                                                                <span class="title-down"></span>
                                                                <span class="text-contract"><a href="http://congchung02dn.gov.vn/" title="Phòng công chứng số 2" rel="nofollow">Phòng công chứng số 2 </a></span>
                                                            </p>
                                                            <ul class="office-address">
                                                                <li class="txt-office">
                                                                    Địa chỉ: 209 đường Điện Biên Phủ, quận Thanh Khê, Đà Nẵng
                                                                </li>
                                                                <li class="txt-office">
                                                                    Điện thoại: 0236 3722601 - 0236 3722600
                                                                </li>
                                                                <li class="txt-office">
                                                                    Email: congchung02dn@gmail.com, lienhe@congchung02dn.gov.vn
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="office-mobile">
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><a href="http://congchungdanang.com.vn/" title="Phòng công chứng số 3" rel="nofollow">Phòng công chứng số 3</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: Lô số 01, Khu B2-14, đường Võ Văn Kiệt, phường An Hải Đông, quận Sơn Trà, Đà Nẵng
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 0236.3575129
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchung3@danang.gov.vn
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><a href="http://congchungdn.vn/" title="Phòng công chứng Ngọc Yến" rel="nofollow">Phòng công chứng Ngọc Yến</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 108 đường Tôn Đức Thắng, quận Liên Chiểu, Đà Nẵng
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 0236 3769 189
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><span>Phòng công chứng Trần Công Minh</span></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 222 đường Xô Viết Nghệ Tĩnh, phường Khuê Trung, quận Cẩm Lệ, Đà Nẵng
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 05113721702
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><span>Phòng công chứng Trần Quốc Vinh</span></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 498 đường Lê Văn Hiến, phường Hòa Hải, quận Ngũ Hành Sơn, Đà Nẵng
                                                                        <li>
                                                                            <li class="txt-office">
                                                                                Điện thoại: 0511.3967390
                                                                            </li>
                                                                </ul>
                                                            </div>
                                                            <a href="https://sotuphap.danang.gov.vn/web/guest/danh-sach-phong-cong-chung" style="color: cadetblue;" rel="nofollow" class="txt-see-office font-italic"><i class="fas fa-link"></i>Xem thêm các văn phòng công chứng khác ở Đà Nẵng ở đây</a>
                                                        </div>
                                                    </ul>



                                                </div>
                                                <div class="item">
                                                    <p class="txt-contract p-3 mb-2 bg-info text-white">Hà Nội</p>
                                                    <ul>
                                                        <div class="office">
                                                            <p>
                                                                <span class="title-down"></span>
                                                                <span class="text-contract"><a href="http://congchungdongdo.com/" title="Công chứng Đông Đô" rel="nofollow">Công chứng Đông Đô </a></span>
                                                            </p>
                                                            <ul>
                                                                <li class="txt-office">
                                                                    Địa chỉ: Số 101 Ngụy Như Kon Tum, Quận Thanh Xuân, Thành Phố Hà Nội
                                                                </li>
                                                                <li class="txt-office">
                                                                    Điện thoại: (0243) 5589999
                                                                </li>
                                                                <li class="txt-office">
                                                                    Email: tuvan@congchungdongdo.com
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="office">
                                                            <p>
                                                                <span class="title-down"></span>
                                                                <span class="text-contract"><a href="http://congchunghanoi.com.vn/" title="Văn phòng công chứng Hà Nội" rel="nofollow">Văn phòng công chứng Hà Nội </a></span>
                                                            </p>
                                                            <ul class="office-address">
                                                                <li class="txt-office">
                                                                    Địa chỉ: Biệt thự 238 Hoàng Ngân, Khu đô thị Trung Hòa – Nhân chính, Hà Nội
                                                                </li>
                                                                <li class="txt-office">
                                                                    Điện thoại: 024 6252 8888, 024 6251 0515
                                                                </li>
                                                                <li class="txt-office">
                                                                    Email:info@congchunghanoi.com.vn
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="office-mobile">

                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><a href="http://congchungthanglong.vn/" title="Công chứng Thăng Long" rel="nofollow">Công chứng Thăng Long</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: 196 Lê Duẩn, Hai Bà Trưng, Hà Nội.
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 024.39447799 - 39447958
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: info@congchungthanglong.vn
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><a href="http://www.luatdaiviet.vn/" title="Văn phòng công chứng Đại Việt" rel="nofollow">Văn phòng công chứng Đại Việt</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: Số 28 Liễu Giai, Ba Đình, Hà Nội
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: (04)37478888
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: info@luatdaiviet.vn
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><a href="http://congchungthanhxuan.vn/" title="Văn phòng công chứng Thanh Xuân" rel="nofollow">Văn phòng công chứng Thanh Xuân</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: Số 12, Lê Văn Lương, Nhân Chính, Thanh Xuân, Hà Nội.
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện Thoại: 04.3543.0802
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchungthanhxuan@gmail.com
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="office">
                                                                <p>
                                                                    <span class="title-down"></span>
                                                                    <span class="text-contract"><a href="http://congchung4hanoi.com.vn/" title="Văn phòng công chứng số 4 thành phố Hà Nội" rel="nofollow">Văn phòng công chứng số 4 thành phố Hà Nội</a></span>
                                                                </p>
                                                                <ul>
                                                                    <li class="txt-office">
                                                                        Địa chỉ: Tầng 1 Tòa nhà N4D, Lê Văn Lương, Nhân Chính, Thanh Xuân, Hà Nội
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Điện thoại: 0435565025, 0435565026
                                                                    </li>
                                                                    <li class="txt-office">
                                                                        Email: congchung4hn@yahoo.com
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-see-more px-5">
                                        <h5>Xem thêm</h5>
                                        <ul style="list-style: none;">
                                            <li>
                                                <a class="text-more " style="color: cadetblue;" [routerLink]="[ '/lawsell' ]" title="Quy trình mua bán - Chuyển nhượng nhà đất">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Quy trình mua bán - Chuyển nhượng nhà đất</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-more" style="color: cadetblue;" [routerLink]="[ '/lawrent' ]" title="Câu hỏi thường gặp">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Quy trình cho thuê </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card" style="background-color: none ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="m-0">
                                        <a [routerLink]="[ '/law' ]"><i class="fas fa-question-circle"></i>Câu hỏi thường gặp</a>

                                    </h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Văn bản luật quy định về BĐS</h5>
                        </div>
                        <div class="card-body">
                            <div class="row col-md-12">
                                <h5 style="font-weight: bold">Quy định chung</h5>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" href="https://thuvienphapluat.vn/van-ban/Bat-dong-san/Luat-Nha-o-2014-259721.aspx" target="_blank" rel="nofollow" title="Luật nhà ở 2014 (65/2014/QH13)">Luật nhà ở 2014 (65/2014/QH13)</a>

                                </h6>
                            </div>
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul>
                                        <li>
                                            <a href="https://www.tracuuphapluat.info/2016/05/nghi-dinh-99-2015-huong-dan-luat-nha-o.html" rel="nofollow" target="_blank" title="Hướng dẫn luật nhà ở 99/2015/NĐ-CP" class="txt-text">Hướng dẫn luật nhà ở 99/2015/NĐ-CP</a>

                                        </li>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;mode=detail&amp;document_id=196627" target="_blank" rel="nofollow" class="txt-text" title="Nghị định 30/2019/NĐ-CP sửa đổi Nghị định 99/2015/NĐ-CP hướng dẫn luật nhà ở">Nghị định 30/2019/NĐ-CP sửa đổi Nghị định 99/2015/NĐ-CP hướng dẫn luật nhà ở</a>

                                        </li>
                                        <li>
                                            <a href="https://www.tracuuphapluat.info/2016/09/thong-tu-19-2016-bxd-huong-dan-luat-nha-o.html" target="_blank" rel="nofollow" class="txt-text" title="Thông tư 19/2016/TT-BXD hướng dẫn thực hiện Luật Nhà ở">Thông tư 19/2016/TT-BXD hướng dẫn thực hiện Luật Nhà ở</a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://thuvienphapluat.vn/van-ban/Bat-dong-san/Luat-dat-dai-2013-215836.aspx" target="_blank" rel="nofollow" title="Luật đất đai 2013 (45/2013/QH13)">Luật đất đai 2013 (45/2013/QH13)</a>

                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://thuvienphapluat.vn/van-ban/Thuong-mai/Luat-Kinh-doanh-bat-dong-san-2014-259722.aspx" target="_blank" rel="nofollow" title="Luật kinh doanh BĐS 2014 (66/2014/QH13)">Luật kinh doanh BĐS 2014 (66/2014/QH13)</a>
                                </h6>
                            </div>
                            <hr>
                            <div class="row col-md-12">
                                <h5 style="font-weight: bold">Các quy định, bộ luật khác</h5>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" title="Luật thuế thu nhập các nhân 2007 (04/2007/QH12)" rel="nofollow" target="_blank" href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=51258">Luật thuế thu nhập các nhân 2007 (04/2007/QH12)</a>
                                </h6>
                            </div>
                            <div class="row col-md-12  p-0">
                                <div class="news-content d-flex justify-content-left">
                                    <ul>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?_page=1&amp;class_id=1&amp;document_id=164952&amp;mode=detail" target="_blank" rel="nofollow" title="Luật thuế cá nhân sửa đổi 2012 (26/2012/QH13)" class="txt-text ">Luật thuế cá nhân sửa đổi 2012 (26/2012/QH13)</a>
                                        </li>
                                        <li>
                                            <a href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;_page=1&amp;mode=detail&amp;document_id=178140" target="_blank" rel="nofollow" class="txt-text " title="Luật thuế cá nhân sửa đổi 2014 (71/2014/QH13)">Luật thuế cá nhân sửa đổi 2014 (71/2014/QH13)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="http://vanban.chinhphu.vn/portal/page/portal/chinhphu/hethongvanban?class_id=1&amp;mode=detail&amp;document_id=96038" target="_blank" rel="nofollow" title="Luật thuế sử dụng đất phi nông nghiệp 2012 (48/2010/QH12)">Luật thuế sử dụng đất phi nông nghiệp 2012 (48/2010/QH12)</a>
                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://www.tracuuphapluat.info/2016/05/nghi-dinh-100-2015-phat-trien-nha-o-xa-hoi.html" target="_blank" rel="nofollow" title="Nghị định 100/2015/NĐ-CP về phát triển và quản lý nhà ở xã hội">Nghị định 100/2015/NĐ-CP về phát triển và quản lý nhà ở xã hội</a>
                                </h6>
                            </div>
                            <div class="row col-md-12">
                                <h6>
                                    <a style="font-weight: bold" class="txt-text txt-title" href="https://www.tracuuphapluat.info/2011/04/toan-van-quyet-inh-2127q-ttg-phe-duyet.html" target="_blank" rel="nofollow" title="Chiến lược phát triển nhà ở quốc gia đến năm 2020 và tầm nhìn đến năm 2030 (2127/QĐ-TTG)">Chiến lược phát triển nhà ở quốc gia đến năm 2020 và tầm nhìn đến năm 2030 (2127/QĐ-TTG)</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>