<div class="modal-header">
    <h4 class="modal-title">Đăng nhập</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Không thể đăng nhập!</strong> Vui lòng kiểm tra thông tin đăng nhập của bạn và thử lại.
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group">
                    <label class="username-label" for="username">Đăng nhập</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Tên đăng nhập" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <show-hide-password btnStyle="secondary" [btnOutline]="false">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu của bạn" formControlName="password">
                    </show-hide-password>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                        <span>Nhớ mật khẩu</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Bạn đã quên mật khẩu của bạn?</a>
            </div>
            <div class="alert alert-warning">
                <span>Bạn chưa có tài khoản?</span>
                <a class="alert-link" (click)="register()">Đăng ký tài khoản mới</a>
            </div>
        </div>
    </div>
</div>