<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bc-icons-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb lighten-4 rounded-0 px-0 my-0">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">BĐS</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Thứ viện pháp luật</a><i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active">Quy trình cho thuê</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-left py-1">
            <h3>Quy trình cho thuê</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <img src="https://static.homedy.com/src/images/library-law/desktop/cho-thue.png">

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="news-content d-flex justify-content-center">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="news-content d-flex justify-content-center">
                                                        <div class="content-lease">
                                                            <div class="content">
                                                                <div class="regulations-rules">
                                                                    <p>
                                                                        Theo Khoản 2, Điều 122, Luật Nhà ở năm 2014 (có hiệu lực từ ngày 01/07/2015) quy định về công chứng, chứng thực hợp đồng về nhà ở lại quy định đối với trường hợp cho thuê, cho mượn, cho ở nhờ, ủy quyền quản lý nhà ở thì
                                                                        <span class="txt-black">không bắt buộc phải công chứng,</span> chứng thực hợp đồng, trừ trường hợp các bên có nhu cầu. Trường hợp BĐS cho thuê có giá trị lơn như nhà đất, nhà xưởng,
                                                                        kho bãi... thì hợp đồng cho thuê nên có chứng thực của UBND phường xã hoặc văn phòng công chứng.
                                                                    </p>
                                                                    <p>
                                                                        Do đó bạn có thể chọn một trong hai hướng sau:
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card">
                                                                <div class="card-header d-flex justify-content-center">
                                                                    <h5>Công chứng</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <p style="font-weight: bold;">Hai bên (mua và bán) đến văn phòng công chứng (công hoặc tư) để làm thủ tục cho thuê.Những giấy tờ cần chuẩn bị cho thủ tục công chứng:</p>
                                                                                </div>
                                                                                <div class="news-content d-flex justify-content-center">
                                                                                    <div class="content-lease-show">
                                                                                        <p class="title-no-ag">Bên cho thuê</p>
                                                                                        <ul>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Giấy chứng nhận QSDĐ</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">CMND</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Hộ khẩu</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Đăng ký kết hôn/Giấy xác nhận tình trạng hôn nhân</span>
                                                                                            </li>
                                                                                        </ul>

                                                                                        <p class="title-no-ag">Bên thuê</p>
                                                                                        <ul>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Đăng ký kinh doanh/Quyết định thành lập doanh nghiệp (trong trường hợp là doanh nghiệp)</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Bên bản họp của Hội đồng quản trị/Hội đồng thành viên (trong trường hợp là công ty cổ phần, công ty TNHH hai thành viên trở lên)</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">CMND</span>
                                                                                            </li>
                                                                                        </ul>


                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card">
                                                                <div class="card-header d-flex justify-content-center">
                                                                    <h5>Hợp đồng tự thỏa thuận</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <p style="font-weight: bold;">Hai bên (mua và bán) tự thỏa thuận điều kiện và ký kết hợp đồng Hợp đồng thự viết cần có những yếu tố sau:</p>
                                                                                </div>
                                                                                <div class="news-content d-flex justify-content-center">
                                                                                    <div class="content-lease-show">
                                                                                        <ul>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Thông tin cá nhân hai bên: Tên, CMND, hộ khẩu thường trú.</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Thông tin về BĐS: Diện tich, địa điểm, chứng nhận/cam kết quyền sử dụng BĐS hợp pháp, các tài sản cho thuê kem BĐS.</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Giá cho thuê: Thời điểm đóng tiền hàng tháng/hàng năm.</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Thời gian giao nhận BĐS</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Đặt cọc và phương thức thanh toán</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Quyền và nghĩa vụ của bên thuê</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Quyền và nghĩa vụ của bên cho thuê</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Các trường hợp chấm dứt, hủy bỏ hợp đồng và biện pháp xử lý</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Cam kết của hai bên</span>
                                                                                            </li>
                                                                                            <li>
                                                                                                <span class="title-down"></span>
                                                                                                <span class="text-no-ag">Thời điểm có hiệu lực</span>
                                                                                            </li>
                                                                                        </ul>
                                                                                        <a [routerLink]="[ '/contractform' ]" title="Xem mẫu hợp đồng" class="see-contract-form font-italic">
                                                                                                Xem mẫu hợp đồng tại đây
                                                                                            </a>

                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="news-footer d-flex justify-content-left px-5">
                                        <p class="txt-note font-italic">Lưu ý: Các thông tin trên chỉ mang tính chất tham khảo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-see-more px-5">
                                        <h5>Xem thêm</h5>
                                        <ul style="list-style: none;">
                                            <li>
                                                <a class="text-more" style="color: cadetblue;" [routerLink]="[ '/addresscontract' ]" title="Danh sách các văn phòng công chứng">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Danh sách các văn phòng công chứng </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-more" style="color: cadetblue;" [routerLink]="[ '/lawsell' ]" title="Quy trình mua bán - Chuyển nhượng nhà đất">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Quy trình mua bán - Chuyển nhượng nhà đất</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-more" style="color: cadetblue;" [routerLink]="[ '/law' ]" title="Câu hỏi thường gặp">
                                                    <i class="fas fa-link"></i>
                                                    <span class="font-italic">Câu hỏi thường gặp </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script>
</script>